<?php
/**
 * Copyright Â© 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
    $_helper = $this->helper('Smartwave\Porto\Helper\Data');
    
    $title = $_helper->getConfig('porto_settings/footer/footer_newsletter_title');//"Be the First to Know";
    $sub_title = $_helper->getConfig('porto_settings/footer/footer_newsletter_text');//"Get all the latest information on Events,<br>Sales and Offers. Sign up for newsletter today.";
?>

   
    
<div class="block newsletter">
<!--    <div class="block-title"><strong><?php //echo __($title); ?></strong></div>-->
    <div class="content">
<!--        <p><?php //echo __($sub_title); ?></p>-->
<!--        <label for="footer_newsletter"><?php //echo __('EMAIL ADDRESS *') ?></label>-->
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="main-section">
<!--                <label class="label" for="footer_newsletter"><span><?php //echo __('EMAIL ADDRESS *') ?></span></label>-->
                 <div class="col-lg-12 col-sm-12 col-md-5 col-xs-12">
    
                 <h3 class="special_ofer_h3">Subscribe<span class="special_ofer_span">To The Newsletter</span></h3>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="control">
                    <div class="newsletter_input">
                    <input placeholder="<?php echo __('Your Email'); ?>" name="email" type="email" id="footer_newsletter" data-validate="{required:true, 'validate-email':true}"/></div>
                      <div class="col-lg-2 col-sm-12 col-md-12 col-xs-12">
            <div class="actions">
                <button class="action subscribe primary" title="<?php echo __('Subscribe Now') ?>" type="submit">
                    <span><?php echo __('Subscribe Now') ?></span>
                </button>
            </div></div>
                </div>
                </div>
                </div>
            </div>
          
        </form>
    </div>
</div>



































