
.finder {
    background: none repeat scroll 0 0 #f2efef;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 1%;
    width: 98%;
}
.finder-box {
    float: left;
    width: 100%;
}
.finder-box div
{
	margin-left: 1px;
	float: left;
	width: 15%;
}
.finder-box .address-book {
    float: left;
    width: 43%;
}
.finder-box .address-book input{
    width: 100%;
}
.finder-box .booking-select-box select {
    width: 100%;
    height: 30px;
}
.finder-box .box-button {
    float: left;
    width: 70px;
}
.box-button > button span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.box-button > button {
    background: none repeat scroll 0 0 #55bd00;
    border: 1px none;
    border-radius: 5px;
    height: 26px;
    line-height: 25px;
    padding: 0 4px;
}
@media screen and (max-width: 768px) {
	.finder-box .address-book,.finder-box .booking-select-box
	{
		width: 49%
	}
	.finder-box .checkin-book,.finder-box .checkout-book
	{
		width: 30%
	}
}
@media screen and (max-width: 360px) {
	.finder-box .address-book,.finder-box .booking-select-box
	{
		width: 100%
	}
	.finder-box .checkin-book,.finder-box .checkout-book
	{
		width: 100%
	}
	
}