.page-header.type1, .page-header.type2, .page-header.type3, .page-header.type4, .page-header.type5, .page-header.type6, .page-header.type7, .page-header.type8 .header.content, .page-header.type9, .page-header.type10, .page-header.type12, .page-header.type15, .page-header.type16, .page-header.type17, .page-header.type18
{margin-left: 2.6%;
margin-right: 2.5%;
width: 100%;
max-width: 1280px;
margin-left: auto !important;
margin-right: auto !important;
}
.breadcrumbs{margin-left: auto !important;margin-right: auto !important;max-width: 1280px !important;}
.main-product-detail{margin-left: auto !important;margin-right: auto !important;max-width: 1280px !important;width:95%;}
.maincontent{padding-left:0 !important;padding-right:0 !important;}
.container-padding{padding-left:0;padding-right:0;}
.footer.container{padding-left:0;padding-right:0;}
.page-header.type1, .page-header.type2, .page-header.type3, .page-header.type4, .page-header.type5, .page-header.type6, .page-header.type7, .page-header.type8 .header.content, .page-header.type9, .page-header.type10, .page-header.type11, .page-header.type12, .page-header.type15, .page-header.type16, .page-header.type17, .page-header.type18{
    background-image:none !important;
}
.sw-megamenu.navigation li > a > span{font-weight: 700;}
.page-header.type5 .navigation .level0:hover > .level-top{color:#F6891E !important;background-color:transparent !important;}
.page-header.type5 .navigation{padding: 19px 0 !important;}
html, body {background-color: #2B3A59 !important;}
/*body{line-height: 6.6 !important;}*/
.slideshow{padding-left: 0;padding-right:0;}
.glyphicon.glyphicon-map-marker{font-size: 28px; top: 8px;color:#BA9351;}
.glyphicon.glyphicon-earphone{font-size: 28px; top: 12px;color:#BA9351;}
.footer-middle .glyphicon.glyphicon-map-marker{color: #fff}
.footer-middle .glyphicon.glyphicon-earphone{color: #fff;}
.homepage-bar p{color:#818A9D;}
.footer-middle-padding-left h3{font-size: 15px;}
/*.panel.wrapper{display: none;}*/
.search-area{display: none !important;}
.page-header.type5 .header.content{background-color: #fff;}
.page-header{background-color: transparent;}
.page-header.type5 .header.content{padding:39px 37px !important;}
.logo{padding-top: 1.5%;}
.padding-container .container{padding-left: 0; padding-right: 0px;}
.page-footer{margin-left: 0;margin-right: 0;}
#banner-slider-demo-14 .owl-controls .owl-dots{text-align: center !important;}
.page-header.type5 .navigation .level0 > .level-top{color: #2B3A59 !important;font-size: 12px;}
.phone-block{text-align: center !important;}
.text-area h3 span{font-size:12px;padding-left: 5px;padding-right: 5px;}
.homepage-bar{margin-left: 5%;padding-bottom: 1%;}
@media (max-width: 1254px) {.homepage-bar{margin-left: 6%;}}
@media (max-width: 767px){.phone-block{text-align: left !important;}}
.btn.btn-button{background-color: #F6891E !important;color: #fff;text-transform: uppercase;}
#banner-slider-demo-14 .content .text-content h2{
    font-family:'Oswald';
    letter-spacing: 0;
    text-transform:uppercase;
    font-size: 102px;
    color:#fff;
    line-height:1;
    font-weight: 700;
    margin:0;
  }
  #banner-slider-demo-14 .content .text-content p span{
    font-family:'Oswald';
    font-size:25px;
    text-transform:uppercase;
    color: #fff;
    vertical-align: top;
    font-weight: 300;
  }
  #banner-slider-demo-14 .content .text-content .text-large{
    font-family:'Playfair Display';
    font-weight:700;
    font-style:italic;
    font-size:76px;
    line-height:1;
    padding: 0 20px;
  }
  #banner-slider-demo-14 .content  .text-content p{
    margin: 7px 0;
  }
  #banner-slider-demo-14 .content  .text-content a{
    margin-top: 68px;
    font-size: 17px;
    padding: 11px 28px;
    margin-left: 7px;
    letter-spacing:0.075em;
    font-family:'Oswald';
    background-color: #e1ddc3;
    color:#61605a;
  }
  #banner-slider-demo-14 .content  .text-content b {
    display: inline-block;
    vertical-align:top;
    font-weight:300;
  }
  #banner-slider-demo-14 .owl-controls {
    bottom: 19px;
    top: auto;
    visibility: visible;
    opacity: 1;
  }
  #banner-slider-demo-14 .owl-controls .owl-dots {
/*    width: 1170px;*/
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
  }
  #banner-slider-demo-14 .owl-controls .owl-dot span {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #cfcdca ;
    border-radius: 100%;
    background: none;
    margin: 0 4px;
  }
  #banner-slider-demo-14 .owl-controls .owl-dot.active span,
  #banner-slider-demo-14 .owl-controls .owl-dot:hover span{
    border-color: #fff;
  }
  #banner-slider-demo-14 .owl-controls .owl-dot.active span:after,
  #banner-slider-demo-14 .owl-controls .owl-dot:hover span:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    width: 6px;
    border: #fff solid 2px;
    border-radius: 100%;
  }
  .single-images .btn-default{
    border:1px solid #e1ddc3;
    padding:10px 28px;
    color:#61605a;
    font-family:'Oswald';
    font-size:12px;
    letter-spacing:0.05em;
    background-color:transparent;
    box-shadow: none;
  }
  
  .parallax-slider .owl-carousel h2 {font-size:60px;margin-bottom:28px;text-transform: uppercase;font-weight: 800;letter-spacing: -1px;}
  .parallax-slider .owl-carousel p {font-family:'Oswald';font-size:36px;font-weight:300;letter-spacing: 0.075em;margin: 0 0 6px;}
  .parallax-slider .owl-carousel p .text-large {font-size:21px;font-weight:300;font-family: Open Sans;letter-spacing: 0;}
  .parallax-slider .owl-carousel a.btn-button {background-color:#e1ddc3;color:#fff;letter-spacing: 0.05em; padding:10px 16px;}
   .parallax-slider .owl-controls {
    margin-top: 25px;
    position: absolute;
    width: 100%;
    bottom: -79px;
  }
  .parallax-slider .owl-controls .owl-dot span {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius:100%;
    background: none;
  }
  .parallax-slider .owl-controls .owl-dot:hover span,
  .parallax-slider .owl-controls .owl-dot.active span {background: none !important;}
  .parallax-slider .owl-controls .owl-dot.active span:after,
  .parallax-slider .owl-controls .owl-dot:hover span:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    width: 6px;
    border: #fff solid 2px;
    border-radius: 100%;
  }

  #latest_news .item {
    position:relative;
  }
  #latest_news .post-image {float:left;}
  #latest_news .post-content {
    position: relative;
    top: 30px;
    left: -5px;
    background-color: #fff;
    text-align: left;
    padding: 40px;
    margin-left: 200px;
    min-height: 212px;
  }
  #latest_news .post-image{
    float: left;
    border: none;
    padding: 0;
    margin: 0;
  }
  .recent-posts .item .post-image img {
    border-radius: 0;
  }
  #latest_news .postTitle{
    min-height: auto;
    margin-bottom: 9px;
  }
  #latest_news .postTitle h2{
    text-transform: uppercase;
    font-size:18px;
    font-weight: 600;
    letter-spacing: -0.001em;
    line-height: 1;
    margin-bottom: 12px;
  }
  #latest_news .post-date{
    display: inline-block;
    background-color: #e1ddc3;
    color: #8f8e86;
    font-size: 14.5px;
    letter-spacing: 0.1em;
    font-family: 'Oswald';
    float: none;
    text-align: left;
    padding: 8px;
    font-weight: 300;
    margin-bottom: 8px;
  }
  #latest_news .postContent {
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0.03em;
    padding: 0;
    margin-bottom: 15px;
  }
  #latest_news .read-more {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #333333;
  }
  @media (max-width: 991px){
    #banner-slider-demo-14 .content .text-content h2{font-size:70px !important;}
    #banner-slider-demo-14 .content .text-content span {font-size:20px !important;}
    #banner-slider-demo-14 .content .text-content .text-large{font-size:45px !important;padding: 0 10px;}
    #banner-slider-demo-14 .content  .text-content a{padding:10px 24px;font-size:13px;margin-top:30px;}
    #banner-slider-demo-14 .owl-pagination {
      width: 1170px;
    }
  }
  @media (max-width: 767px) {
    #banner-slider-demo-14 .content .text-content h2{font-size:50px !important;}
    #banner-slider-demo-14 .content .text-content span {font-size:15px !important;}
    #banner-slider-demo-14 .content .text-content .text-large{font-size:30px !important;padding: 0 10px;}
    #banner-slider-demo-14 .content  .text-content a{padding:10px 20px;font-size:10px;margin-top:20px;}
    .single-images .col-sm-4{border-left-width:0 !important;}
    .single-images img {width:100%;}
    .single-images .content{padding-left:46px;}
    .parallax-slider .owl-carousel h2 {font-size:40px;margin-bottom:28px;}
    .parallax-slider .owl-carousel p {font-size:16px;margin: 0 0 6px;}
    .parallax-slider .owl-carousel p .text-large {font-size:20px;}
    .parallax-slider .owl-carousel a.btn-button {font-size:12px;padding:12px 20px;}
    .footer-middle-padding-left{padding-left:28px;}
    .footer-middle-padding-left .glyphicon.glyphicon-earphone{color:#fff;}
    .footer-middle-padding-left .glyphicon.glyphicon-map-marker{color:#fff;}
    .footer-middle-padding-left .fa.fa-share-alt{color:#fff;}
    .background-padding .btn.btn-button{margin-bottom: 8%;}
    .footer-middle-padding-left h3{font-size: 15px;}
  }
  @media (max-width: 480px) {
    #latest_news .post-image {
      float: none;
      margin: 0;
    }
    #latest_news .post-content {
      padding: 30px;
      margin: 0;
      left: 0;
      top: 0;
      float: left;
    }
    .parallax-slider .owl-carousel p .text-large {font-size:18px !important;}
    .parallax-slider .owl-carousel p{line-height: 20px !important;}
  }
  @media (min-width: 768px){
    #banner-slider-demo-14 .owl-controls .owl-dots {
      width: 750px;
    }
  }
  @media (min-width: 992px){
    #banner-slider-demo-14 .owl-controls .owl-dots {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    #banner-slider-demo-14 .owl-controls .owl-dots {
      width: 1170px;
    }
    #banner-slider-demo .owl-item img{height:286px;}
  }
  @media (max-width: 1199px) {.block.newsletter .actions{padding-top: 1%;}}
  @media (max-width: 1210px){.footer-bottom address{margin-right: 0% !important;}}
  @media (max-width: 1039px) and (min-width: 768px) {.margin-top{margin-top: 11px !important;}}
  @media (max-width: 345px){.margin-top{margin-top: 11px !important;}}
  @media (max-width: 420px){.background-padding h2{font-size: 20px !important;}.background-padding .font-size-first{font-size: 16px !important;}}
  
.footer_address{margin-top:0px;font-size: 15px;font-weight: 300;}
.footer_address_p{font-size: 14px !important;margin-bottom: 0;color: #FFF !important;}
.footer-middle{padding: 32px 0 !important;}
.page-footer input[type="text"], .page-footer input[type="email"]{
    height: 45px !important; border-top:none !important;background: transparent !important;border-left:none !important;border-right:none !important;border-bottom:1px solid #fff !important;padding-left: 0px !important;
}
.block.newsletter .form.subscribe{display: inline !important;}
.block.newsletter .field .control::before{display: none;}
.block.newsletter .actions{width:100% !important;display: inline-block !important;}
.block.newsletter .action.subscribe{width: 100%;height: 40px !important;margin-top: 5px;}
.footer-top{padding-bottom: 58px;padding-top:58px;}
  ._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{ box-shadow: none;outline: none;}
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  
  font-size: 17px;
}
.block.newsletter {width: 100% !important;}
.fa{font-size: 13px;}
.fa.fa-share-alt{font-size: 18px;color: #fff;}
.footer li {float: left;}
.footer-bottom address{line-height: 1.42857143 !important;font-size: 15px;}
.footer-bottom .custom-block a{font-size: 1em;}
.footer-bottom{background-color: transparent !important;}
/*.footer-bottom .custom-block{width:50%;}
.footer-bottom address{width:50%;}*/
.address-float {float:right;color:#959CAC !important;}
.border-bottom{border-bottom: 4px solid #F6891E;padding-bottom: 2px;}
.border-bottom-2{border-bottom: 3px solid #fff;padding-bottom: 2px;}
.background-padding{background-color: #fff; margin-left: 0;margin-right: 0;padding-left: 23px;padding-top: 81px;padding-bottom: 90px;overflow: hidden;}
.background-padding h2{color:#000;font-weight: 800;}
.background-padding .font-size{font-size: 14px;font-weight: 100;margin-bottom: 28px;line-height: 20px;}
.background-padding .font-size-first{font-size:21px;line-height: 32px;font-weight: 100;padding-top: 25px;}
.background-padding .btn.btn-button{padding: 10px 16px;font-size: 1em;}
.shadow .container{padding:0px;}
.border-top{border-top:1px solid #E1E5EE;padding: 0;}
.contact-margin{margin-top: 8px;padding-left: 24px;}
.address-margin {margin-top: 18px;margin-bottom: 20%;padding-left: 24px;}
.shadow{
    -webkit-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
    box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
}
.about-property {font-size: 14px;margin-bottom: 0;font-weight: 100;color: #000;}
.about-propertyy {margin-top:4px;font-size: 15px;color: #000;margin-bottom: 3px;} 
.icon-size{ font-size: 14px !important;}
.heading-property{color:#000;text-align: center;margin-top: -9px;margin-bottom: 68px;}
.heading-property h2{font-weight: 800;}
.heading-prop{color:#000;font-weight: 800;}
.background-padding .thumbnail{
    padding: 0px;
    border:0px;
}
.image-padding{padding-right: 40px;}
.custom-color{color: #959CAC !important;}
span.split{border-right: 1px solid #959CAC !important;}
.control-button{margin-top: 50.5%;text-align: center;clear: inherit;}
.margin-left-right{margin-left: 0;margin-right: 0;}
.margin-left-right .widget.block.block-static-block{margin-bottom: 0px !important;}
.features li{list-style: none;border-bottom: 1px solid #DBDBDB;padding-bottom: 15px;padding-top: 15px;margin: 0;}
.features li:last-child {border-bottom: none;}
.features li em{color:#F6891E !important;padding-right: 16px;}
.features li span {font-size: 14px;}
.block-margin{float:left;}
@media (max-width: 459px){.thumbnail img{width:100% !important;float:none !important; padding-right:0px;}
.caption{padding-left: 32px !important;}
.caption-top-margin{padding-left: 8%;padding-bottom: 15%;padding-right: 8%;}
.thumbnail.clearfix.shadow img{max-width: 100% !important;}
}
.thumbnail.clearfix.shadow img{max-width: 341px;}
@media (max-width: 670px){.heading-prop{font-size: 18px;}.thumbnail img{width:50%;}.caption{padding-top: 5px !important;}}
@media (min-width: 874px){.block-margin-left{margin-left: -40px;}}
@media (max-width: 873px){
    .features li:last-child {border-bottom: 1px solid #DBDBDB !important;}
    .block-margin{float:none !important;}
    .background-padding .block{margin-bottom: 0px;}
}
@media (max-width: 385px){.block-margin{margin-left:-45px}}
#banner-slider-demo{box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);-webkit-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);-moz-box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);}
.background-padding #banner-slider-demo .owl-controls{top: 90%;left: 40%;}
.background-padding #banner-slider-demo .owl-controls{opacity: 1;visibility: visible;}
.owl-theme .owl-dots .owl-dot span{border: 1px solid #d6d6d6;}
.owl-dot.active span{background: #fff !important;}
.owl-dot span{background: transparent !important;}
.slideshow-1{padding-right: 0;padding-left: 0%;margin-left: 0%;}
@media (max-width: 1298px) and (min-width: 1200px){.block-margin-margin{margin-left: -40px;}}
.color-below-text h5{color:#fff ;padding-top: 6%;font-weight: bold;}
.color-below-text p{color:#fff;}
.color-below-text{clear: both;overflow: hidden;}
/*Bubble */
.testimonial {
    position: relative;
}
.testimonial:before {
    font-size: 8em; /* To change the quotation mark size, adjust font-size only and the other measurements will resize accordingly */
    position: absolute;
/*    padding-top: -0.5em;*/
    top: -0em;
    left: 0;
    right:0;
    color: #777776;
    content: "\201C";
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    font-family: Georgia,serif;
}
.bubble {
    position:relative;
    padding: 2em;
    width: auto;
    background-color: rgb(242, 242, 241);
}
.bubble p {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 7% !important;
}
.bubble p:last-child {
    margin-bottom: 0;
}

.bubble:before,
.bubble:after {
    display:block;
    position:absolute;
    left: 0;
    width: 6%;
    content: "\0020";
    border: solid 20px transparent;
    border-bottom: 0;
    overflow:hidden;
    z-index:2;
    right: 0;
    margin: auto;
}
.bubble:before {
    bottom:-20px;
    border-top-color: #eee;
    z-index:1;
}
.bubble-sig {
    position: relative;
    margin-top: 30px;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    color:#fff;
    font-weight: 600;
}
.bubble-sig span {
    display: block;
    font-weight: normal;
    font-size: 0.9em;
    font-size: 12px;
    color: #FABF85;
}
/*Video*/
.start-video {
    position: absolute;
    padding: 12px;
    left: 0;
    right:0;
    opacity: .3;
    cursor: pointer;    
    transition: all 0.3s;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    width: 100%;
    max-width: 100px;
}

.start-video:hover
{
    opacity: 1;
    -webkit-filter: brightness (1);
}

div.thumbnail_container
{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #000;
    position: relative;
    background-color: transparent;
}
#thumbnail{border:none;background-color:transparent;border-radius:0px;padding:0px;margin-bottom:0px;height: 538px;}
img.thumbnail
{
    opacity: 0.5;
    width: inherit;
}

@media (max-width: 1200px) and (min-width: 866px) {.thumbnail.clearfix img{width:55%;}.thumbnail.clearfix .caption{padding-top:12px !important;}.heading-prop{font-size: 16px;}
.image-padding {padding-right: 5px !important;}
.thumbnail.clearfix .caption{padding:0px;padding-left: 59%;}
}
@media (max-width: 865px) and (min-width: 768px){
    .thumbnail.clearfix img{width:55%;}.thumbnail.clearfix .caption{padding-top:0px !important;}.heading-prop{font-size: 14px;}
.image-padding {padding-right: 5px !important;}
.thumbnail.clearfix .caption{padding:0px;padding-left: 59%;}
}
@media (max-width: 767px){.customer-account-create #maincontent{width:100% !important;margin:0 -8px;}
.address-float{float: left !important;}
}
/*@media (max-width: 1040px) and (min-width: 768px) {.thumbnail.clearfix img{width:50%;}.caption{padding-top:13px !important;}.heading-prop{font-size: 16px;}}*/
.footer-middle p{margin-bottom: 0px !important;}
.action.primary, .action.primary:active{font-family: Open Sans !important;font-size: 0.9em !important;}
.span-color{color:#BA9351;font-size: 15px;}
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="email"]::-moz-placeholder{
    color: #fff;
    font-weight: 500;
    opacity: 1;
}
.background-padding-widget .widget.block.block-static-block{margin-right: 23px;}
.special_ofer_h3{margin-top:0px;font-weight: 800;font-size: 19px;}
.special_ofer_span{font-size: 1em;}
.footer-bottom ul li span{font-size: 10px;}
.widget_margin .widget.block.block-static-block{margin-bottom: 0px;}
.owl-middle-narrow .owl-theme .owl-controls, .owl-middle-narrow.owl-theme .owl-controls{pointer-events: visible !important;}
.page-header{border-top:none !important;}
#maincontent{background-color: #fff;}
.actions-toolbar .secondary a.action{color: #026dc5;}
.action.create{color: #026dc5;}
#social-login-popup .block-container .block .block-title{border-bottom:0px !important;}
#social-login-popup .social-login-title{background-color:#484F5E !important;}
#social-login-popup .social-login #bnt-social-login-authentication {
    background-color: #F6891E !important;
    border: none !important;
}
.social-btn .btn-social{text-align: center;padding-bottom: 5px !important;padding-top: 5px !important;font-size: 1.6rem !important;}
.btn-social > :first-child{line-height: 35px !important;}
.sica-fb-reassurance{margin-top: 7% !important; }
.cms-index-index .action.primary{color: #fff !important}
.action.create.primary{background-color: #F6891E !important;border-color: #F6891E !important;}
.authorization-link a{text-transform: uppercase; text-decoration: none;}
.authorization-link a:hover{color:#F6891E !important}
.customer-account-create #maincontent{background-color: #fff;    margin-left: auto;    margin-right: auto;    width: 381px;margin-top: 25px;padding-left: 0px;
                                      border-radius: 4px;padding-right: 25px;}
.login-container, .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.form-edit-account, .form-address-edit, .form-newsletter-manage{border: none !important;}
.form.create.account > .fieldset{float: none !important;width: auto !important;padding-left: 25px !important;padding-right: 0 !important;}
.form.create.account{padding:0 !important;box-shadow:none !important;}
.customer-account-create .social-login-authentication-channel{padding-left: 25px;}
.customer-account-create .page-title-wrapper{padding-left: 25px;}
.customer-account-create .account-social-login .actions-toolbar.social-btn{width: 100% !important;}
.customer-account-create input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"]{
    /*box-shadow: 0 1px 1px -1px #848484 inset;*/
    border-top-color: #848484;
}
.customer-account-create .page-title span{font-weight: 700;}
.notify_message{margin-top:8px !important; border-bottom: 1px solid #d6d6d6;padding-bottom: 12px;}
.customer-account-create .page-main .block{margin-bottom:16px;}
.cms-index-index #booking-button-search{margin-top: 11px;width: 100%; height: 44px; max-width: 140px;color: #fff;background-color:#F6891E;border:none;font-weight: 700;}
.cms-index-index .form-group-lg .form-control{border-radius: 0px;border:none;background:#fff;}
.cms-index-index .form-group .input-icon{top:auto;}

.cms-index-index .form-group-icon-left input[type="text"]{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px dotted #F6891E !important;
    background-color: transparent !important;
    }

.cms-index-index .custom_change input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b3b3b3 !important;
  font-size: 14px !important;
}
.cms-index-index .custom_change input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #b3b3b3 !important;
  font-size: 14px !important;
}
.cms-index-index .custom_change input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #b3b3b3 !important;
  font-size: 14px !important;
}
.cms-index-index .custom_change input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #b3b3b3 !important;
  font-size: 14px !important;
}

.cms-index-index .form-group-icon-left input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F6891E;
  font-weight: 600;
}
.cms-index-index .form-group-icon-left input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #F6891E;
  font-weight: 600;
}
.cms-index-index .form-group-icon-left input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #F6891E;
  font-weight: 600;
}
.cms-index-index .form-group-icon-left input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #F6891E;
  font-weight: 600;
}
.cms-index-index .form-control::-moz-placeholder{font-size: 18px;}
.cms-index-index .form-control::-webkit-input-placeholder{font-size: 18px;}



.cms-index-index  #check-in-button{width: 95%;    text-align: right;left: 0 !important;}
.cms-index-index #check-out-button{width: 95%;    text-align: right;left: 0 !important;}
.cms-index-index .form-group.form-group-lg.form-group-icon-left .form-control{padding-left: 10px !important}
.cms-index-index .input-destination{left: 10px !important;color: #F6891E !important}
.cms-index-index .form-group.form-group-lg .input-icon{font-size:18px;font-style: normal;font-weight: 600;}
.cms-index-index .custom_change{padding-left: 120px !important;}
.cms-index-index .custom_padding{padding: 0px;margin: 0;}
.cms-index-index .background-color{background-color: #fff;border-left: 1px solid #b3b3b3;}
.cms-index-index .background-color-button{text-align: center;background-color: #fff;border-left: 1px solid #b3b3b3;}
.cms-index-index .background-color-border{background-color: #fff;border-left: 1px solid #b3b3b3;}
.cms-index-index .form-group.form-group-lg.form-group-icon-left.custom_change{border-bottom: 1px dotted #F6891E !important;}
.cms-index-index .form-group.form-group-lg.form-group-icon-left.custom_change input[type="text"]{border-bottom: none !important;}
.cms-index-index #booking-search h3{color: #000;font-weight: 600;padding-left: 2%;}
.cms-index-index .custom-content{position: absolute;top: 10%;width: 90%;z-index: 9;/*background: rgba(255,255,255,0.8);*/background: white;left: 0;right: 0;margin: 0 auto;border-top:8px solid #F6891E;}
.caption_style{padding-top: 24px;padding-left: 32px;padding-right: 33px;}
.heading-prop-p{font-size: 14px;line-height: 27px;margin-bottom: 11% !important;}
.caption-top-margin{padding-top: 6%;}
.bookingsystem-index-index .page-header{margin: 0;}
.bookingsystem-index-index .form-group.form-group-lg .input-icon{line-height: 0;}
.bookingsystem-index-index .form-group .input-icon{top: 24px;}
.bookingsystem-index-index #booking-search .row{margin: 0;}
.nav-tabs > li > a{background-color: #eee;}
.close{background-color: transparent !important;}
.form-group.form-group-lg.form-group-icon-left .form-control{padding-left: 45% !important;}
.bookingsystem-index-index #booking-button-search{
  height: 44px !important;
  border-radius: 7px;
}
.label{color: inherit !important;}
button.action.primary {background-color: #F6891E !important;border-color: #F6891E !important;}
.product-item-actions .action.towishlist{color: #F6891E !important;border-color: #F6891E !important;}
.action.tocompare, .action.tocompare{color: #F6891E !important;border-color: #F6891E !important;}