
<link media="all" href="<?php echo $block->getViewFileUrl('Magebay_Bookingsystem::css/bootstrap.min.css'); ?>" type="text/css" rel="stylesheet">
<link media="all" href="<?php echo $block->getViewFileUrl('Magebay_Bookingsystem::css/font-awesome.min.css'); ?>" type="text/css" rel="stylesheet">
<link media="all" href="<?php echo $block->getViewFileUrl('Magebay_Bookingsystem::css/style_search.css'); ?>" type="text/css" rel="stylesheet">
<link media="all" href="<?php echo $block->getViewFileUrl('Magebay_Bookingsystem::css/global_style.css'); ?>" type="text/css" rel="stylesheet">
<?php
$numberItems = $block->getBkHelperDate()->getFieldSetting('bookingsystem/search_setting/number_items');
$enableAddress = $block->getBkHelperDate()->getFieldSetting('bookingsystem/setting/booking_address');
?>
<?php $formatDateLabel = $block->getBkHelperDate()->getFormatDateLabel(); ?> 
<?php $rootCategory = $block->getBkRootCategoryId(); ?>
<?php $formatDate = $block->getBkHelperDate()->getFieldSetting('bookingsystem/setting/format_date'); ?>
<?php $checkIn = ''; ?>
<?php $checkOut = ''; ?>
<?php $strAllowCategories = $block->getBkHelperDate()->getFieldSetting('bookingsystem/search_setting/allow_categories'); ?>
<?php $mapApyKey = $block->getBkHelperDate()->getFieldSetting('bookingsystem/setting/map_apy_key'); ?>
<?php $symbol = $block->getBkCurrencySymbol(); ?>
<div class="search-page" >
	<form id="booking-search" method="post" action="<?php echo $block->getUrl() ?>bookingsystem">
		<div data-date-format="M d, D" class="input-daterange">
			<div class="row">
				<?php if($enableAddress == 1) : ?>
					<div class="col-md-3">
						<div id="autu_rent" class="twitter-typeahead booking-autocomplete-input" style="position: relative; display: block; direction: ltr; float: left;">
							<div class="form-group form-group-lg form-group-icon-left">
								<i class="fa fa-map-marker input-icon"></i>
								<label><?php echo __('Where are you going?'); ?></label>
								<input class="autocomplete form-control" placeholder="Enter your address" type="text" name="text_rent_auto_complete" value="">
							</div>
							<div style="display : none">
								<!-- Street address-->
								<input class="street_number" name="address_bk" value="" ></input>
								<!-- Street address-->
								<input class="route" name="route" value=""></input>
								<!-- City -->
								<input class="locality" name="city_bk" value=""></input>
								<!-- State -->
								<input class="administrative_area_level_1" name="state_bk_bk" value=""></input>
								<!--Zip code-->
								<input class="postal_code" name="post_code_bk" value=""></input>
								<!-- Country -->
								<input class="country" name="country_bk" value=""></input>
							</div>
						</div>
					</div>
					<?php endif; ?>
				<div class="col-md-3">
					<div class="form-group form-group-lg form-group-icon-left"><i id="check-in-button" class="fa fa-calendar input-icon input-icon-highlight"></i>
						<label><?php echo __('Check In'); ?></label>
						<input type="text"  id="check-in" name="check_in" value="<?php echo $checkIn; ?>" class="form-control">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group form-group-lg form-group-icon-left"><i id="check-out-button" class="fa fa-calendar input-icon input-icon-highlight"></i>
						<label><?php echo __('Check Out'); ?></label>
						<input type="text" id="check-out" name="check_out" class="form-control" value="<?php echo $checkOut; ?>">
					</div>
				</div>
				<?php if($strAllowCategories != '') : ?>
					<div class="col-md-3">
						<div class="form-group form-group-lg">
							<label><?php echo __('Category'); ?></label>
							<select id="booking-category" name="booking_category"  class="form-control" >
								<option value="0"><?php echo __('Chose Category') ?></option>
									<?php $block->getBkProductHelper()->getBookingCategories($rootCategory,$strAllowCategories); ?>
							</select>
						</div>
					</div>
				<?php endif; ?>
			</div>
		</div>
		<button type="submit" id="booking-button-search" class="btn btn-primary btn-lg"><?php echo __('Search'); ?></button>
	</form>
</div>
<?php if($enableAddress == 1) : ?>
<?php if(trim($mapApyKey) != '') : ?>
 <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $mapApyKey; ?>&v=3.exp&libraries=places"></script>
 <?php else : ?>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
 <?php endif; ?>
<script type="text/javascript">
require([
			'jquery',
		],
	function ($){
	var autocomplete = {};
	var autocompletesWraps = ['autu_rent'];
	var autu_rent_form = { street_number: 'short_name', route: 'long_name', locality: 'long_name', administrative_area_level_1: 'short_name', country: 'long_name', postal_code: 'short_name' };
		$.each(autocompletesWraps, function(index, name) {
		if($('#'+name).length == 0) {
			return;
		}

		autocomplete[name] = new google.maps.places.Autocomplete($('#'+name+' .autocomplete')[0], { types: ['geocode'] });
			
		google.maps.event.addListener(autocomplete[name], 'place_changed', function() {
			
			var place = autocomplete[name].getPlace();
			var form = eval(name+'_form');

			for (var component in form) {
				$('#'+name+' .'+component).val('');
				$('#'+name+' .'+component).attr('disabled', false);
			}
			
			for (var i = 0; i < place.address_components.length; i++) {
				var addressType = place.address_components[i].types[0];
				if (typeof form[addressType] !== 'undefined') {
				  var val = place.address_components[i][form[addressType]];
				  $('#'+name+' .'+addressType).val(val);
				}
			}
		});
	});	
	$('input[name="text_rent_auto_complete"]').keyup(function(){
		$('input[name="street_number"]').val('');
		$('input[name="route"]').val('');
		$('input[name="city_bk"]').val('');
		$('input[name="state_bk_bk"]').val('');
		$('input[name="post_code_bk"]').val('');
		$('input[name="country_bk"]').val('');
		//console.log('Test Baba');
	})
})
</script>
<?php endif; ?>
<script>
require([
			'jquery',
			"jquery/ui"
		],
	function ($){
	var textJqueryCalendar = new magebayTextJqueryCalendar();
	var strFormatDate = '<?php echo $formatDateLabel ?>';
	$( "#check-in, #check-out" ).datepicker({
		changeMonth: true,
		numberOfMonths: 1,
		minDate: '0',
		dateFormat: strFormatDate,
		closeText: "<?php echo __('Done'); ?>", // Display text for close link
		prevText: "<?php echo __('Prev'); ?>", // Display text for previous month link
		nextText: "<?php echo __('Next'); ?>", // Display text for next month link
		currentText: "<?php echo __('Today'); ?>", // Display text for current month link
		monthNames: textJqueryCalendar.getMonthNames(), // Names of months for drop-down and formatting
		monthNamesShort: textJqueryCalendar.getShortMonth(), // For formatting
		dayNames: textJqueryCalendar.getdayNames(), // For formatting
		dayNamesShort: textJqueryCalendar.getdayNamesShort(), // For formatting
		dayNamesMin: textJqueryCalendar.getdayNamesMin(),
		onSelect: function( selectedDate, inst) {
				var date = $.datepicker.parseDate(inst.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, inst.settings);
				var dateText = $.datepicker.formatDate("yy-mm-dd", date, inst.settings);
				if(this.id == "check-in"){															
					date.setDate(date.getDate() + 1);
					$("#check-out" ).datepicker(  "option", "minDate", date );
				}
			}
		
	});
	$('#check-in-button').click(function(){
		$("#check-in" ).datepicker("show");
	});
	$('#check-out-button').click(function(){
		$( "#check-out" ).datepicker("show");
	});
})
</script>
<?php echo $this->getLayout()->createBlock('Magento\Framework\View\Element\Template')->setTemplate('Magebay_Bookingsystem::booking-global.phtml')->toHtml();  ?>
	