
<?php /* js for booking simple */ ?>
<?php $booking = $block->getBkBookingItem(); ?>
<?php $bookingId = $booking->getId(); ?>
<?php $itemId = $block->getBkQuoteItemId(); ?>
<?php $request = $this->getBkRequestOption(); ?>
<?php $oldOrderItemId  = isset($request['bk_order_item_id']) ? $request['bk_order_item_id'] : 0; ?>
<?php $arUrl = $block->getBkUrlAjax($bookingId,$itemId,$oldOrderItemId); ?>
<?php $urlcalendar = $arUrl['url_calendar']; ?>
<?php $urlBooking = $arUrl['url_booking']; ?>
<?php $formatDateLabel = $block->getBkHelperDate()->getFormatDateLabel(); ?>
<?php $bookingTime = $booking->getBookingTime(); ?>
<?php $bookingType = $booking->getBookingType(); ?>
<?php //$symbol = $block->getBkCurrencySymboy(); ?> 
<?php $showCalendar = $block->getBkHelperDate()->getFieldSetting('bookingsystem/setting/show_calendar') ?>
<?php $bkIntCurrentTime = $block->getBkTmpTime(); ?>
<?php $strCurrentTime = date('Y-m-d',$bkIntCurrentTime); ?>
<?php $facilities = $block->getBkFacilities($booking->getId(),'per_day');?>
<?php $enableAddress = $block->getBkHelperDate()->getFieldSetting('bookingsystem/setting/booking_address') ?>
<?php $symbol = $block->getBkPriceHelper()->currency(0,true,false); $symbol = str_replace('0.00','',$symbol); ?>
<div id="booking-calendar-<?php echo $bookingId; ?>"></div>
<input type="hidden" id="bk-quote-item-<?php echo $bookingId; ?>" value="<?php echo $itemId ?>" />
<div class="row booking-product-infor">
		<div role="tabpanel" class="tab-info-book" style="padding:20px 0;">
		  <!-- Nav tabs -->
			<ul class="nav nav-tabs booking-nav-tabs" role="tablist">
				<?php if(count($facilities)) : ?>
					<li class="booking-infor-tab active"><a href="#facilities"><?php echo __('Facilities'); ?></a></li>
				<?php endif; ?>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<?php  if($facilities) : ?>
					<div class="tab-pane active" id="facilities">
						<table class="data-table">
							<colgroup>
								<col width="25%"><col width="25%"><col width="50%">
							</colgroup>
							<thead>
								<tr>
									<th class="title-td"><?php echo __('Title') ?></th>
									<th class="image-td"><?php echo __('Image') ?></th>
									<th class="description-td"><?php echo __('Description') ?></th>
								</tr>
							</thead>
							<tbody>
							<?php foreach($facilities as $facility) : ?>
								<tr class="first odd">
								<?php $title = $block->getBkHelperText()->showTranslateText($facility->getFacilityTitle(),$facility->getFacilityTitleTransalte()); ?>
									<td class="title-td"><?php echo $title;?></td>
									<td class="image-td">
										<?php if ( $facility->getFacilityIconClass() != '') { ?>
											<?php 
											$icon_class = explode('-', $facility->getFacilityIconClass() );
											$type_font = $icon_class[0];
											?>
											<i class="ace-icon <?php echo $type_font.' '.$facility->getFacilityIconClass(); ?> size-icon"></i>
										<?php } else { ?>
											<?php if($facility->getFacilityImage()) : ?>
												<img src="<?php echo $block->imageResize($facility->getFacilityImage(),100,100); ?>" />
											<?php endif; ?>
										<?php } ?>
									</td>
									<?php $description = $block->getBkHelperText()->showTranslateText($facility->getFacilityDescription(),$facility->getFacilityDesTranslate()); ?>
									<td class="description-td"><?php echo $description;?></td>
								</tr>
							<?php endforeach;?>
							</tbody>
						</table>
					</div>
				<?php endif; ?>
			</div>
		</div>
	</div>
<script>
require([
			'jquery',
			"jquery/ui",
			'Magento_Ui/js/modal/alert',
			'bk_calendar_simple_order'
		],
	function ($,jqueryUi,alert,bkCalendar){
		var showCalendar = '<?php echo $showCalendar; ?>';
		var itemId = parseInt('<?php echo $itemId; ?>');
		var symbol = '<?php echo $symbol; ?>';
		var urlBooking = '<?php echo $urlBooking; ?>';
		var textJqueryCalendar = new magebayTextJqueryCalendar();
		/* var dateHelper = new helperDate(); */
		var strFormatDate = '<?php echo $formatDateLabel ?>';
		var bookingId = '<?php echo $bookingId; ?>';
		var bookingType = '<?php echo $bookingType; ?>';
		var bookingTime = '<?php echo $bookingTime; ?>';
		var strCurrentTime = '<?php echo $strCurrentTime; ?>';
		var checkIn = $('#check-in-'+bookingId).val();
		var checkOut = $('#check-out-'+bookingId).val();
		if($.trim(checkIn) != '' && $.trim(checkOut) != '' && showCalendar != '1')
		{
			getResults();
		}
		$('form#product_composite_configure_form div#product_composite_configure_form_fields fieldset#product_composite_configure_fields_qty').css('display','none');
		var currenrtQty = $('form#product_composite_configure_form div#product_composite_configure_form_fields input#product_composite_configure_input_qty').val();
		if(currenrtQty != '' && !isNaN(currenrtQty))
		{
			$('#bk-create-order-quy-'+bookingId).val(currenrtQty);
		}
		//jquery date
		$('#product_composite_configure_form #product_composite_configure_form_fields input#check-in-'+bookingId+', #product_composite_configure_form #product_composite_configure_form_fields input#check-out-'+bookingId).on('click', function () {
           $(this).removeClass('hasDatepicker') .datepicker({
					changeMonth: true,
					numberOfMonths: 1,
					minDate: new Date(strCurrentTime),
					dateFormat: strFormatDate,
					closeText: "<?php echo __('Done'); ?>", // Display text for close link
					prevText: "<?php echo __('Prev'); ?>", // Display text for previous month link
					nextText: "<?php echo __('Next'); ?>", // Display text for next month link
					currentText: "<?php echo __('Today'); ?>", // Display text for current month link
					monthNames: textJqueryCalendar.getMonthNames(), // Names of months for drop-down and formatting
					monthNamesShort: textJqueryCalendar.getShortMonth(), // For formatting
					dayNames: textJqueryCalendar.getdayNames(), // For formatting
					dayNamesShort: textJqueryCalendar.getdayNamesShort(), // For formatting
					dayNamesMin: textJqueryCalendar.getdayNamesMin(),
					onSelect: function( selectedDate, inst) {
						var date = jQuery.datepicker.parseDate(inst.settings.dateFormat || jQuery.datepicker._defaults.dateFormat, selectedDate, inst.settings);
						var dateText = jQuery.datepicker.formatDate("yy-mm-dd", date, inst.settings);
						if(this.id == "check-in-"+bookingId){															
							date.setDate(date.getDate());
							if(bookingTime == '1')
							{
								date.setDate(date.getDate() + 1);
							}
							jQuery("#product_composite_configure_form #product_composite_configure_form_fields #check-out-"+bookingId).datepicker(  "option", "minDate", date );
							$("#product_composite_configure_form #product_composite_configure_form_fields #temp-check-in-"+bookingId).val(dateText);
						}
						else
						{
							$("#product_composite_configure_form #product_composite_configure_form_fields #temp-check-out-"+bookingId).val(dateText);
						}
						getResults();
					}
			   }).focus();
		});
		$('#product_composite_configure_form #product_composite_configure_form_fields #bk-create-order-quy-'+bookingId).on("change",function(){
			if(!isNaN($(this).val()))
			{
				$('form#product_composite_configure_form div#product_composite_configure_form_fields input#product_composite_configure_input_qty').val($(this).val());
				getResults();
			}
		})
		$('#product_composite_configure_form #product_composite_configure_form_fields .from-time-'+bookingId+' , #product_composite_configure_form #product_composite_configure_form_fields .to-time-'+bookingId).on("change",function(){
			getResults();
		})
		if($('#product_composite_configure_form #product_composite_configure_form_fields .txt-addons-item-'+bookingId).length)
		{
			$('#product_composite_configure_form #product_composite_configure_form_fields .txt-addons-item-'+bookingId).on("change",function(){
				getResults();
			})
		}
		if($('#product_composite_configure_form #product_composite_configure_form_fields .select-addons-item-'+bookingId).length)
		{
			$('#product_composite_configure_form #product_composite_configure_form_fields .select-addons-item-'+bookingId).on("change",function(){
				getResults();
			})
		}
		if($('#product_composite_configure_form #product_composite_configure_form_fields .bk-addon-radio-checkbox-'+bookingId).length)
		{
			$('#product_composite_configure_form #product_composite_configure_form_fields .bk-addon-radio-checkbox-'+bookingId+ ' input').on("click",function(){
				getResults();
			})
			$('#product_composite_configure_form #product_composite_configure_form_fields .bk-addon-radio-checkbox-'+bookingId+ ' span.bk-addon-title').on("click",function(){
				if($(this).prev('input').is(":checked"))
				{
					$(this).prev('input').prop('checked',false);
				}
				else
				{
					$(this).prev('input').prop('checked',true);
				}
				getResults();
			});
		}
		function getResults()
		{
			var checkIn = $('#product_composite_configure_form #product_composite_configure_form_fields #check-in-'+bookingId).val(); 
			var checkOut = $('#product_composite_configure_form #product_composite_configure_form_fields #check-out-'+bookingId).val(); 
			var bookingTimeType = $('#product_composite_configure_form #product_composite_configure_form_fields #booking-time-type-'+bookingId).val();
			if($.trim(checkIn) == '' || ($.trim(checkOut) == '') && bookingTimeType == 'per_day')
			{
				return false;
			}
			if(!checkRequiredAddons())
			{
				return false;
			}
			$('#booking-loader').css('display','block');
			$('#product_composite_configure_form #product_composite_configure_form_fields .booking-results').html('');
			$.ajax({
				url : urlBooking,
				dataType : 'json',
				type : 'POST',
				data : $('#product_composite_configure_form').serialize(),
				success : function(res)
				{
					$('#product_composite_configure_form #product_composite_configure_form_fields .booking-results').html(res.html_result);
					var tempCheckIn = $('#product_composite_configure_form #product_composite_configure_form_fields #temp-check-in-'+bookingId).val();
					var tempCheckOut = $('#product_composite_configure_form #product_composite_configure_form_fields #temp-check-out-'+bookingId).val();
					selectedDays(tempCheckIn,tempCheckOut);
					$('#booking-loader').css('display','none');
				},
				error : function()
				{
					
				}
			});
			
		}
		if(showCalendar == '1')
		{
			//get calendar
			var objData = {
				'data_url' : '<?php echo $urlcalendar; ?>',
				'booking_id': bookingId,
				'booking_type' : bookingType,
				'url_booking' : urlBooking,
				'booking_time' : bookingTime,
				'currency': symbol,
				'booking_label' : '<?php echo __('Booking Calendar'); ?>',
				'str_current_date': strCurrentTime,
				'obj_status_text' : {
						'available': '<?php echo __('Available'); ?>',
						'special': '<?php echo __('Available'); ?>',
						'block': '<?php echo __('Block'); ?>',
						'unavailable': '<?php echo __('Unavailable'); ?>',
					},
				'name_day_th' : [
											'<?php echo __('Sunday'); ?>',
											'<?php echo __('Monday'); ?>',
											'<?php echo __('Tuesday'); ?>',
											'<?php echo __('Wednesday'); ?>',
											'<?php echo __('Thursday'); ?>',
											'<?php echo __('Friday'); ?>',
											'<?php echo __('Saturday'); ?>'
									],
				'name_day_short_th' : [
												'<?php echo __('Mon'); ?>',
												'<?php echo __('Tue'); ?>',
												'<?php echo __('Wed'); ?>',
												'<?php echo __('Thu'); ?>',
												'<?php echo __('Fri'); ?>',
												'<?php echo __('Sat'); ?>',
												'<?php echo __('Sun'); ?>'
											],
				'name_day_shortest_th' : [
											'<?php echo __('Su'); ?>',
											'<?php echo __('Mo'); ?>',
											'<?php echo __('Tu'); ?>',
											'<?php echo __('We'); ?>',
											'<?php echo __('Th'); ?>',
											'<?php echo __('Fi'); ?>',
											'<?php echo __('Sa'); ?>',
											],
				'add_text' : '<?php echo __('Add'); ?>',
				'remove_text' : '<?php echo __('Remove'); ?>',
				'next_text' : '<?php echo __('Next'); ?>',
				'pre_text' : '<?php echo __('Prev'); ?>',
				'format_date' : strFormatDate
			};
			$('#product_composite_configure_form #product_composite_configure_form_fields #booking-calendar-'+bookingId).MagebayAnyBooking(objData);
		}
		$('#product_composite_configure').parent().prev('.modal-header').find('.page-main-actions').find('button.action-primary').on("click",function(){
			var quoteItemId = parseInt($('input#bk-quote-item-'+bookingId).val());
			var finalPrice = $('input#bk-create-order-final-price-'+bookingId).val();
			/* if($.trim(finalPrice) == '')
			{
				alert({
						title: '',
						content: '<?php echo __('Please enter collect information!') ?>'
					});
				return false;
			} */
			console.log(finalPrice);
			if(quoteItemId > 0)
			{
				var bkQty = parseInt($('input#bk-create-order-quy-'+bookingId).val());
				finalPrice = finalPrice / bkQty;
				$('#item_custom_price_'+quoteItemId).val(finalPrice);
			}
			else
			{
				
			}
		})
		function checkRequiredAddons()
		{
			var okAddons = true;
			if($('#product_composite_configure_form #product_composite_configure_form_fields .txt-addons-item-'+bookingId).length)
			{
				$('#product_composite_configure_form #product_composite_configure_form_fields .txt-addons-item-'+bookingId).each(function(){
					var strClass = $(this).attr('class');
					if(strClass.indexOf('required-empty') > -1 && ($.trim($(this).val()) == '' || isNaN($(this).val())))
					{
						okAddons = false;
						return false;
					}
				});
			}
			if(okAddons && $('#product_composite_configure_form #product_composite_configure_form_fields .select-addons-item-'+bookingId).length)
			{
				$('#product_composite_configure_form #product_composite_configure_form_fields .select-addons-item-'+bookingId).each(function(){
					var strClass = $(this).attr('class');
					if(strClass.indexOf('required-empty') > -1 && ($.trim($(this).val()) == ''))
					{
						okAddons = false;
						return false;
					}
				});
			}
			if(okAddons && $('#product_composite_configure_form #product_composite_configure_form_fields .bk-addon-radio-checkbox-'+bookingId).length)
			{
				$('#product_composite_configure_form #product_composite_configure_form_fields .bk-addon-radio-checkbox-'+bookingId).each(function(){
					var strClass = $(this).attr('class');
					var strCkId = $(this).attr('id');
					if(strClass.indexOf('required-empty') > -1)
					{
						var tempCkOk = false;
						$('#'+strCkId +' input').each(function(){
							if($(this).is(":checked"))
							{
								tempCkOk = true;
								return false;
							}
						});
						if(tempCkOk == false)
						{
							okAddons = false;
							return false;
						}
					}
				});
			}
			return okAddons;
		}
		function selectedDays(date1,date2)
		{
			$('.day-selected').removeClass('day-selected');
			if(date2 == '')
				return false;
			var date1 = new Date(date1);
			var date2 = new Date(date2);
			var timeDiff = Math.abs(date2.getTime() - date1.getTime());
			var oneDay = 1000 * 3600 * 24;
			var day1 = date1.getTime();
			var day2 = date2.getTime();
			if(date1.getTime() > date2.getTime())
			{
				day1 = date2.getTime();
				day2 = date1.getTime();
			}
			while(day1 <= day2)
			{
				var objDate = new Date(day1);
				var month = objDate.getMonth() + 1;
				month = month >= 10 ? month : '0'+month;
				strDay = objDate.getDate() >= 10 ? objDate.getDate() : '0'+objDate.getDate();
				var strDate = objDate.getFullYear()+'-'+month+'-'+strDay;
				if($('#0_'+strDate).length)
				{
					$('#0_'+strDate).addClass('day-selected');
				}
				if($('#2_'+strDate).length)
				{
					$('#2_'+strDate).addClass('day-selected');
				}
				if($('#1_'+strDate).length)
				{
					$('#1_'+strDate).addClass('day-selected');
				}
				day1 += oneDay;
			}
		}
	});
</script>