
<?php $booking = $block->getBkBookingItem(); ?>
<?php $itemId = $block->getBkQuoteItemId(); ?>
<?php $request = $this->getBkRequestOption(); ?>
<?php $arUrlAjax = $block->getRoomAjaxUrl($booking->getId(),0,$itemId); ?>
<?php $urlSearch = $arUrlAjax['url_search_room']; ?>
<?php $roomTypes = $block->getBkRoomTypes(); ?> 
<?php $formatDateLabel = $block->getBkHelperDate()->getFormatDateLabel(); ?>
<?php $roomTypeTitles = $block->getBkRoomTypeTitle(); ?>
<?php $price = $booking->getPrice(); ?>
<?php $specialprice = $booking->getSpecialPrice() ? $booking->getSpecialPrice() : $booking->getFinalPrice(); ?>
<?php $facilities = $block->getBkFacilities($booking->getId(),'hotel');?>
<?php $enableAddress = $block->getBkHelperDate()->getFieldSetting('bookingsystem/setting/booking_address') ?>
<?php $bkIntCurrentTime = $block->getBkTmpTime(); ?>
<?php $strCurrentTime = date('Y-m-d',$bkIntCurrentTime); ?>
<?php $rooms = $block->getBkRooms($booking->getId()); ?>
<?php $storeId = $block->getBkQuoteSession()->getStoreId(); ?>
<?php 
//get max child and adults
$maxAdults = 1; 
$maxChildren = 1;
foreach($rooms as $room)
{
	$roomData = $room['room_data'];
	if($roomData->getRoomMaxAdults() > $maxAdults)
	{
		$maxAdults = $roomData->getRoomMaxAdults();
	}
	if($roomData->getRoomMaxChildren() > $maxAdults)
	{
		$maxChildren = $roomData->getRoomMaxChildren();
	}
}
$currentRoomId = isset($request['bk_hotel_current_room_'.$booking->getId()]) ? $request['bk_hotel_current_room_'.$booking->getId()] : 0;
if($currentRoomId == 0 && !isset($request['is_bk_back_end']) && isset($request['room_id']))
{
	$currentRoomId  = $request['room_id'];
}
?>
<div class="booking-hotels">
	<input type="hidden" name="bk_back_end_booking_id" value="<?php echo $booking->getId(); ?>"  />
	<input type="hidden" name="is_bk_back_end" value="1"  />
	<input type="hidden" name="bk_order_item_id" value="<?php echo isset($request['bk_order_item_id']) ? $request['bk_order_item_id'] : 0; ?>"  />
	<div class="search-form-list-rooms-<?php echo $booking->getId(); ?>">
		<div class="search-form">
			<input type="hidden" name="bk_item_id" value="<?php echo $itemId; ?>"  />
			<input type="hidden" name="bk_hotel_id" value="<?php echo $booking->getId() ?>"  />
			<div class="row">
				<div class="col-md-3">
					<div class="input-box-booking box-checkin">
						<label><?php echo __('Check In'); ?> </label>
						<div class="form-group booking">
						<i id="check-in-button-<?php echo $booking->getId(); ?>" class="fa fa-calendar input-icon input-icon-hightlight"></i>
						<input class="form-control" type="text" id="check-in-<?php echo $booking->getId(); ?>" name="check_in" value="<?php echo isset($request['check_in']) ? $request['check_in'] : ''; ?>">
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-box-booking box-checkout">
						<label><?php echo __('Check Out'); ?></label>
						
						<div class="form-group booking">
						<i id="check-out-button-<?php echo $booking->getId(); ?>" class="fa fa-calendar input-icon input-icon-hightlight"></i>
						<input  class="form-control" type="text" id="check-out-<?php echo $booking->getId(); ?>" name="check_out" value="<?php echo isset($request['check_out']) ? $request['check_out'] : '' ?>">
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="select-box-booking room-type">
						<label><?php echo __('Room Type') ?></label>
						<select name="room_type">
						<option value=""><?php echo __('Select Room Type'); ?></option>
						<?php if(count($roomTypes)) : ?>
							<?php foreach($roomTypes as $roomType) : ?>
								<option <?php if(isset($request['room_type']) && $roomType->getId() == $request['room_type']) echo 'selected="selected"'; ?> value="<?php echo $roomType->getId() ?>"><?php echo $roomTypeTitles[$roomType->getId()]; ?></option>
							<?php endforeach; ?>
						<?php endif; ?>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="select-box-booking max-adults">
						<label><?php echo __('Adults'); ?></label>
						<select name="max_adults">
							<option value="0"><?php echo __('Select Adults'); ?></option>
							<?php for($i = 1; $i <= $maxAdults; $i++) : ?>
								<?php $selected = (isset($request['max_adults']) && $request['max_adults'] == $i) ? 'selected="selected"' : ''; ?>
								<option <?php echo $selected; ?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
							<?php endfor; ?>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="select-box-booking max-children">
						<label><?php echo __('Children'); ?></label>
						<select name="max_children">
							<option value="0"><?php echo __('Select Children'); ?></option>
							<?php for($i = 1; $i <= $maxChildren; $i++) : ?>
								<?php $selected = (isset($request['max_children']) && $request['max_children'] == $i) ? 'selected="selected"' : ''; ?>
								<option <?php echo $selected; ?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
							<?php endfor; ?>
						</select>
					</div>
				</div>
				<div class="col-md-12">
					<div class="button-search-rooms">
						<button type="button" id="btn-search-room-type-<?php echo $booking->getId(); ?>"><?php echo __('Search') ?></button>
					</div>
				</div>
			</div>
			
		</div>
		<!-- end form-->
		<div class="row booking-list-rooms-<?php echo $booking->getId(); ?>">
		</div>
	</div>
	<div class="magebay-booking-popup-content" id="createorder-booking-room-content-<?php  echo $booking->getId(); ?>"></div>
	<div class="booking-product-infor">
		<div role="tabpanel" class="tab-info-book" style="padding:20px 0;">
		  <!-- Nav tabs -->
			<ul class="nav nav-tabs hotel-nav-tabs" role="tablist">
				<?php if(count($facilities)) : ?>
					<li class="hotel-infor-tab active"><a href="#facilities"><?php echo __('Facilities'); ?></a></li>
				<?php endif; ?>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<?php  if($facilities) : ?>
					<div class="tab-pane active" id="facilities">
						<table class="data-table">
							<colgroup>
								<col width="25%"><col width="25%"><col width="50%">
							</colgroup>
							<thead>
								<tr>
									<th class="title-td"><?php echo __('Title') ?></th>
									<th class="image-td"><?php echo __('Image') ?></th>
									<th class="description-td"><?php echo __('Description') ?></th>
								</tr>
							</thead>
							<tbody>
							<?php foreach($facilities as $facility) : ?>
								<tr class="first odd">
								<?php $title = $block->getBkHelperText()->showTranslateText($facility->getFacilityTitle(),$facility->getFacilityTitleTransalte(),$storeId); ?>
									<td class="title-td"><?php echo $title;?></td>
									<td class="image-td">
										<?php if ( $facility->getFacilityIconClass() ) { ?>
											<?php 
											$icon_class = explode('-', $facility->getFacilityIconClass() );
											$type_font = $icon_class[0];
											?>
											<i class="ace-icon <?php echo $type_font.' '.$facility->getFacilityIconClass(); ?> size-icon"></i>
										<?php } else { ?>
											<?php if($facility->getFacilityImage()) : ?>
												<img src="<?php echo $block->imageResize($facility->getFacilityImage(),100,100); ?>" />
											<?php endif; ?>
										<?php } ?>
									</td>
									<?php $description = $block->getBkHelperText()->showTranslateText($facility->getFacilityDescription(),$facility->getFacilityDesTranslate()); ?>
									<td class="description-td"><?php echo $description;?></td>
								</tr>
							<?php endforeach;?>
							</tbody>
						</table>
					</div>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>
	<span style="display: none">
		<input type="hidden" id="bk-create-order-final-price-<?php echo $booking->getId() ?>" class="input-text admin__control-text required-entry" name="bk_create_order_final_price" />
	</span>
	<!--hidden input-->
	<input type="hidden" id="bk-quote-item-<?php echo $booking->getId(); ?>" value="<?php echo $itemId ?>" />
	<input type="hidden" id="bk-create-order-quy-<?php echo $booking->getId(); ?>" name="bk_create_order_quy_<?php echo $booking->getId(); ?>" value="1" />
	<input type="hidden" id="bk-hotel-current-room-<?php echo $booking->getId(); ?>" name="bk_hotel_current_room_<?php echo $booking->getId(); ?>" value="<?php echo $currentRoomId; ?>" />
	<input type="hidden" id="bk-hotel-current-room-param-<?php echo $booking->getId(); ?>" name="bk_hotel_current_room_param_<?php echo $booking->getId(); ?>" value="<?php echo isset($request['bk_hotel_current_room_param_'.$booking->getId()]) ? $request['bk_hotel_current_room_param_'.$booking->getId()] : ''; ?>" />
<script>
require([
			'jquery',
			"jquery/ui",
			'Magento_Ui/js/modal/alert'
		],
	function ($,jqueryUi,alert){
	//jquery date
	var textJqueryCalendar = new magebayTextJqueryCalendar();
	var strFormatDate = '<?php echo $formatDateLabel ?>';
	var itemId = parseInt('<?php echo $itemId; ?>');
	var bookingId = '<?php echo $booking->getId(); ?>';
	var urlSearch = '<?php echo $urlSearch; ?>';
	var strCurrentTime = '<?php echo $strCurrentTime; ?>';
	$('form#product_composite_configure_form div#product_composite_configure_form_fields fieldset#product_composite_configure_fields_qty').css('display','none');
	var currenrtQty = $('form#product_composite_configure_form div#product_composite_configure_form_fields input#product_composite_configure_input_qty').val();
	if(currenrtQty != '' && !isNaN(currenrtQty))
	{
		$('form#product_composite_configure_form div#product_composite_configure_form_fields input#bk-create-order-quy-'+bookingId).val(currenrtQty);
	}
	//jquery date
	$('#product_composite_configure_form #product_composite_configure_form_fields input#check-in-'+bookingId+', #product_composite_configure_form #product_composite_configure_form_fields input#check-out-'+bookingId).on('click', function () {
        $(this).removeClass('hasDatepicker').datepicker({
			changeMonth: true,
			numberOfMonths: 1,
			minDate: new Date(strCurrentTime),
			dateFormat: strFormatDate,
			closeText: "<?php echo __('Done'); ?>", // Display text for close link
			prevText: "<?php echo __('Prev'); ?>", // Display text for previous month link
			nextText: "<?php echo __('Next'); ?>", // Display text for next month link
			currentText: "<?php echo __('Today'); ?>", // Display text for current month link
			monthNames: textJqueryCalendar.getMonthNames(), // Names of months for drop-down and formatting
			monthNamesShort: textJqueryCalendar.getShortMonth(), // For formatting
			dayNames: textJqueryCalendar.getdayNames(), // For formatting
			dayNamesShort: textJqueryCalendar.getdayNamesShort(), // For formatting
			dayNamesMin: textJqueryCalendar.getdayNamesMin(),
			onSelect: function( selectedDate, inst) {
				var date = jQuery.datepicker.parseDate(inst.settings.dateFormat || jQuery.datepicker._defaults.dateFormat, selectedDate, inst.settings);
				var dateText = jQuery.datepicker.formatDate("yy-mm-dd", date, inst.settings);
				if(this.id == "check-in-"+bookingId){															
					date.setDate(date.getDate() + 1);
					jQuery("#product_composite_configure_form #product_composite_configure_form_fields #check-out-"+bookingId ).datepicker(  "option", "minDate", date );
				}
			}
		}).focus()
	});
	var checkIn = $("#product_composite_configure_form #product_composite_configure_form_fields #check-in-"+bookingId).val();
	var checkOut = $("#product_composite_configure_form #product_composite_configure_form_fields #check-out-"+bookingId).val();
	/* if(($.trim(checkIn) != '' && $.trim(checkIn) != '') || itemId > 0)
	{
		searchBkRoom();
	} */
	searchBkRoom();
	/* search room */
	$("#product_composite_configure_form #product_composite_configure_form_fields #btn-search-room-type-"+bookingId).on("click",function(){
		
		$('#product_composite_configure_form #product_composite_configure_form_fields #bk-hotel-current-room-'+bookingId).val('');
		$('#product_composite_configure_form #product_composite_configure_form_fields #bk-hotel-current-room-param-'+bookingId).val('');
		searchBkRoom();
	});
	$('#product_composite_configure').parent().prev('.modal-header').find('.page-main-actions').find('button.action-primary').on("click",function(){
		var quoteItemId = parseInt($('#bk-quote-item-'+bookingId).val());
		var finalPrice = $('#bk-create-order-final-price-'+bookingId).val();
		console.log(finalPrice+''+quoteItemId);
		if(quoteItemId > 0)
		{
			var bkQty = parseInt($('#bk-create-order-quy-'+bookingId).val());
			console.log(bkQty);
			finalPrice = finalPrice / bkQty;
			$('#item_custom_price_'+quoteItemId).val(finalPrice);
		}
		else
		{
			
		}
	})
	function searchBkRoom()
	{
		$('#product_composite_configure_form #product_composite_configure_form_fields .booking-list-rooms-'+bookingId).html('');
		$('#booking-loader').css('display','block');
		$.ajax({
			url : urlSearch,
			dataType : 'json',
			type : 'POST',
			data : $('#product_composite_configure_form').serialize(),
			success : function(res)
			{
				$('#product_composite_configure_form #product_composite_configure_form_fields .booking-list-rooms-'+bookingId).html(res.html_list_rooms);
				$('#booking-loader').css('display','none');
			},
			error : function()
			{
				$('#booking-loader').css('display','none');
			}
		}); 
	}
});
</script>