<?php $results = $block->getBookingRoomResults();  ?>
<?php $roomId = isset($results['room_id']) ? $results['room_id'] : 0; ?>
<?php $hotelId = isset($results['booking_id']) ? $results['booking_id'] : 0; ?>
<?php $checkOut = isset($results['room_check_out']) ? $results['room_check_out'] : ''; ?>
<?php $error = 0; ?>
<?php $tempCheckOut = isset($results['temp_room_check_out']) ? $results['temp_room_check_out'] : ''; ?>
<?php $symbol = $block->getBkCurrencySymboy(); ?>
<?php $okPromo = 0; ?>
<?php $floatTotalPromo  = 0; ?>
<?php $floatTotalPrice  = 0; ?>
<?php if($results['str_error'] == '') : ?>
<?php 
$floatTotalPrice = $block->getBkPriceHelper()->currency($results['total_price'],false,false);
$floatTotalPromo = $block->getBkPriceHelper()->currency($results['total_promo'],false,false);
 ?>
	<?php if($results['str_note'] != '') : ?>
		<span class="booking-result-note"><?php echo $results['str_note']; ?> </span>
	<?php endif; ?>
	<span class="total-days"><?php echo __('Total Days'); ?> <?php echo $results['total_days']; ?></span>
			<div class="price-box">
				<?php if($results['total_promo'] > 0 and $results['total_price'] > $results['total_promo'] ) : ?>
				<?php $okPromo = 1; ?>
				<p class="old-price">
					<span class="price-label"><?php //echo __('Regular Price') ?></span>
					<span class="price"><?php echo $block->getBkPriceHelper()->currency($results['total_price'],true,false); ?></span>
				</p>
				<p class="special-price">
					<span class="price-label"><?php //echo __('Special Price'); ?></span>
					<span class="price"><?php echo $block->getBkPriceHelper()->currency($results['total_promo'],true,false); ?></span>
				</p>
				<?php else :  ?>
					<span class="regular-price">
					<?php //echo __('Regular Price') ?>
					<span class="price">
					<?php echo $block->getBkPriceHelper()->currency($results['total_price'],true,false); ?></span>
					</span>
				<?php endif; ?>
			</div>
<?php else : ?>
	<?php  $error = 1; ?>
	<?php  $tempCheckOut = ''; ?>
	<span class="booking-result-error"><?php echo $results['str_error']; ?></span>
<?php endif; ?>
<script>
require(['jquery'],
	function ($){
	var tempRoomId2 = '<?php echo $roomId; ?>';
	var roomHotelId = '<?php echo $hotelId ; ?>';
	var bookingError = '<?php echo $error; ?>';
	var okPromo = '<?php echo $okPromo; ?>';
	$('#room-check-out-'+tempRoomId2).val('<?php echo $checkOut ?>');
	$('#temp-check-out-'+tempRoomId2).val('<?php echo $tempCheckOut; ?>');
	if(bookingError == '1')
	{
		$('#product_composite_configure_form #product_composite_configure_form_fields #bk-create-order-final-price-'+roomHotelId).val('');
	}
	else
	{
		if(okPromo == '1')
		{
			$('#product_composite_configure_form #product_composite_configure_form_fields #bk-create-order-final-price-'+roomHotelId).val('<?php echo $floatTotalPromo; ?>');
		}
		else
		{
			$('#product_composite_configure_form #product_composite_configure_form_fields #bk-create-order-final-price-'+roomHotelId).val('<?php echo $floatTotalPrice; ?>');
		}
	}
})
</script>