<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Customer\Block\Account\AuthorizationLink */
$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>


<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('header_top_links')
->toHtml();
?>

<li class="ui-menu-item-header-contact-num">

  <a>+92-333-4100089<a>

</li>

<li class="ui-menu-item level0 custom_link authorization-link" data-label="<?php echo $block->escapeHtml(__('or')); ?>">
    <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?>>
        <?php echo $block->escapeHtml($block->getLabel()); ?>
    </a>
</li>

<li>
<div class="top-search-logos">

<i class="fa fa-twitter" aria-hidden="true"></i>

<i class="fa fa-instagram" aria-hidden="true"></i>


<i class="fa fa-facebook" aria-hidden="true"></i>
  





</div>
</li>