/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2021-04-08 16:26:18 */
body.boxed {
    background-color: #0D0C09;
    background-image: none;
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 32.67%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 65.33%;
    }
}
@media (max-width: 480px){
    .products-grid .product-item {
        float: none;
        width: 100%;
        padding: 10px 0;
    }
}
.page-header .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown, .minicart-wrapper .block-minicart, .product-item .tocart, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .product-social-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], .footer-middle .block.newsletter input, .footer-middle .block.newsletter .action.subscribe, .filter-options-title, .filter-options-item.active .filter-options-title, .filter-options-content, .filter-options-title:after, .toolbar select, .swatch-option, .pages .page, .pages .action, .fotorama__stage, .fotorama__nav--thumbs .fotorama__thumb, .fotorama__nav .fotorama__thumb-border, .input-text.qty, .qty.field .qty-changer > a, button, a.action.primary, textarea, .minicart-items .item-qty, .block-minicart .block-content > .actions > .secondary .action.viewcart, .cart.table-wrapper .product-image-container, .cart-summary, select, #discount-coupon-form #coupon_code, .abs-discount-block .actions-toolbar .action.primary, .abs-discount-block .actions-toolbar .action.cancel, .block-compare .action.primary, .cart-summary .block .actions-toolbar > .primary .action.primary, .cart-summary .form.giftregistry .fieldset .action.primary, .paypal-review-discount .actions-toolbar .action.primary, .paypal-review-discount .actions-toolbar .action.cancel, .cart-discount .actions-toolbar .action.primary, .cart-discount .actions-toolbar .action.cancel, .login-container, .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.form-edit-account, .form-address-edit, .form-newsletter-manage, .message, .box .box-title, .box .box-actions, .customer-welcome .header.links, .btn, .cms-index-index blockquote.testimonial, .recent-posts .item .post-image, .prev-next-products .product-nav .product-pop, #newsletter_popup, .product-label, .page-header.type11 .navigation li.level0.active, .page-header.type11 .navigation li.level0:hover, .filter .filter-current-subtitle, .filter-actions, .products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2, .block-header-customer-login, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .moved-add-to-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .moved-add-to-links .action.mailto.friend, .product-social-links .action.towishlist, .product-addto-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist
{
    border-radius: 0;
}
.sw-megamenu.navigation li.level0.fullwidth:hover > .submenu, .sw-megamenu.navigation li.level0.staticwidth:hover > .submenu, .sw-megamenu.navigation li.level0.classic .submenu, .sw-megamenu.navigation li.level0.classic .subchildmenu .subchildmenu, .sw-megamenu.navigation span.cat-label, .category-boxed-banner .owl-item .item, .iwd-summary-cart, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary {
    border-radius: 0 !important;
}
@media (min-width: 768px) {
    .block-search input, .page-header.type1 .navigation > ul, .navigation li.level0, .page-header.type1 .navigation li.level0.parent:hover, .page-header.type1 .navigation li.level0.active, .page-header.type1 .navigation li.level0:hover, .page-header .navigation .level0 .submenu, .product.data.items > .item.title > .switch, .customer-welcome .header.links, .page-header.type5 .block-search input, .page-header.type5 .navigation .level0.parent:hover > .level-top, .page-header.type6 .block-search input, .page-header.type6 .navigation .level0:hover > .level-top, .page-header.type6 .navigation .level0.parent:hover > .level-top, .product.info.detailed.vertical .product.data.items > .item.title > .switch, .page-header.type5 .navigation .level0:hover > .level-top, .page-header.type11 .navigation li.level0.parent:hover
    {
        border-radius: 0;
    }
}
@media (min-width: 640px) {
    .modes-mode
    {
        border-radius: 0;
    }
}
.product-item-photo {
    border-radius: 0;
    border: 0;
    padding: 0;
}
.product-image-photo.hover_image {
    padding: 0;
    border-radius: 0;
}

@import url('http://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

.page-wrapper > .breadcrumbs {
    font-family: 'Oswald';
    font-size: 12px;
    letter-spacing: 0.075em;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: #e6e6e6 solid 1px;
    line-height: 25px;
}
.breadcrumbs .item:not(:last-child):after {
    content: '\f809';
    font-size: 12px;
}
.page-main {
    padding: 37px 15px 68px;
}
.block-category-list .block-title, .filter-options-title,.filter .filter-current-subtitle {
    border: none;
    background: none;
    padding: 8px 13px 0 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
}
.block-category-list .block-title strong {
    font-weight: 600;
}
.filter-options-title {
    padding-bottom: 4px;
}
.block-category-list .block-content,.filter-options-content {
    border: none;
    background-color: transparent;
    padding: 10px 13px 28px 0;
    border-bottom: #efefef solid 1px;
}
.block-category-list .block-content ol li.item {
    margin: 0;
}
.block-category-list .block-content .item a {
    font-size: 14px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #7a7d82;
}
.filter-options-title:after {
    content: '\f803';
    border: 0;
    color: #21293c;
    font-size: 17px;
    margin-right: -10px;
    margin-top: -11px;
}
.active > .filter-options-title:after {
    content: '\f800';
}
.filter-options-title:hover:after {
    background: none;
    color: #21293c;
}
#ln_price_slider.ui-slider-horizontal {
    background: #e1ddc3;
    height: 3px;
    box-shadow: none;
}
#ln_price_slider .ui-slider-handle {
    background: #e1ddc3;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.filter-current .item {
    padding: 0;
}
.filter-current .items {
    border: none;
    background-color: transparent;
    padding: 10px 13px 0 0;
}
.filter-actions {
    background: none;
    border: none;
    border-bottom: #efefef solid 1px;
}
.filter-current .action.remove {
    right: 0;
}
.filter-actions a {
    margin-bottom: 10px;
    display: inline-block;
}
.sidebar-title {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}
.porto-icon-left-open-huge:before {
    content: '\f802';
}
.porto-icon-right-open-huge:before {
    content: '\f801';
}
.sidebar .owl-top-narrow .owl-theme .owl-controls {
    top: -40px;
}
.sidebar .product-items .product-item-info .product-item-photo {
    max-width: 25.19%;
}
.sidebar .product-items .product-item-details {
    margin-left: calc(31% + 15px);
}
.sidebar .product-items .product-item-name a {
    font-size: 14px;
    color: #7a7d82;
    font-weight: 600;
}
.sidebar .sidebar-filterproducts {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: none;
    border-bottom: #efefef solid 1px;
}
.sidebar .product-items .product-item .product-reviews-summary {
    display: block;
}
.sidebar-filterproducts.custom-block + h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c !important;
    letter-spacing: 0.01em;
}
.sidebar-filterproducts.custom-block + h2 +h5 {
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p {
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.022em;
}
.page-with-filter .toolbar-amount {
    display: none;
}
.page-products .toolbar .limiter .limiter-text {
    display: none;
}
.modes-mode.active {
    border: none;
    background: none;
    color: #111;
}
.modes-mode,.modes-mode:hover {
    border: none;
    background: none;
    color: #111;
    width: 15px;
}
.toolbar select {
    border: 1px solid #e4e4e4;
    height: 37px;
    color: #7a7d82;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 10px;
    padding-right: 30px;
    line-height: 31px;
}
.sorter-label {
    font-size: 14px;
    font-weight: 600;
    color: #21293c;
}
.sorter-action {
    margin-top: 6px;
}
.pages strong.page {
    background: none;
    border-color: #fff;
    color: #21293c;
    font-size: 15px;
    width: 36px;
    line-height: 34px;
}
.pages a.page,.pages a.page:hover {
    background: none;
    border-color: #fff;
    color: #21293c;
    font-size: 15px;
    width: 36px;
    line-height: 34px;
}
.pages a.page:visited {
    color: #21293c;
}
.pages .action.next,.pages .action.previous {
    border: solid 1px #e1ddc3;
    background-color: #e1ddc3;
    color: #78755c;
    font-size: 15px;
    width: 36px;
    line-height: 34px;
}
.full-width-image-banner, .parallax-content {
    height: 400px;
}
.products-grid + .toolbar-products{
    border-top: solid 1px #e4e4e4;
    padding-top: 25px;
}
.product-item-photo {
    border-radius: 0;
    border: 0;
}
.product-item .product-reviews-summary {
    display: none;
}
.products-grid:not(.side-list) .product-item .product-item-info {
    padding-bottom: 100px;
    margin-bottom: 37px;
}
.products-grid:not(.side-list) .product-item .product-item-details {
    position: absolute !important;
    background-color: #fff;
    padding: 27px 0 5px;
    transition: all 0.3s;
    left: 0;
    right: 0;
    bottom: -8px;
    z-index: 2;
}
.products-grid:not(.side-list) .product-item:hover .product-item-details {
    bottom: 52px;
}
.products-grid:not(.side-list) .product-item .product-item-details .price-box {
    border-bottom: solid 1px #e4e4e4;
    padding-bottom: 20px;
    margin-top: 8px;
    margin-bottom: 0;
}
.products-grid:not(.side-list) .product-item .product-item-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -55px;
    opacity: 0;
    transition: all 0.3s;
}
.products-grid:not(.side-list) .product-item:hover .product-item-inner {
    opacity: 1;
}
.products-grid:not(.side-list) .product-item-details .product-item-actions .actions-secondary.tocompare {
    left: 0;
    visibility: visible;
    opacity: 1;
    height: 38px;
    line-height: 36px;
    width: 38px;
}
.products-grid:not(.side-list) .product-item-details .product-item-actions .actions-secondary.towishlist {
    right: 0;
    visibility: visible;
    opacity: 1;
    height: 38px;
    line-height: 36px;
    width: 38px;
}
.product-social-links .action.towishlist:before, .product-addto-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    content: '\e811';
}
.products-grid:not(.side-list) .product-item-details .product-item-actions .tocart {
    height: 38px;
    line-height: 36px;
    color: #61605a;
    border-color: #e1ddc3;
    background-color: transparent;
    font-size: 12px;
    padding: 0 17.4px;
    text-transform: uppercase;
    font-family: 'Oswald';
}
.products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2 {
    background-color: #fff;
    color: #a19d81;
    padding: 5px;
    margin: 5px;
    line-height: 23px;
    height: 30px;
    width: 30px;
}
.products-grid .product-item .product-item-info .weltpixel-quickview span span {
    display: none;
}
.porto-icon-eye:before {
    content:'\e885';
    font-size: 15px;
}
.price-box .price {
    font-size: 18px;
    font-family: 'Oswald';
    font-weight: 400;
}
.old-price .price {
    font-size: 16px;
}
.product-item-name, .product.name a {
    font-size: 16px;
    color: #21293c;
    font-weight: 400;
}
.products-grid .product-item-info div[class^="swatch-opt-"] {
    display: none;
}
.products-grid .product-item-info:hover .product-item-details .product-item-actions .tocart {
    background-color: #fff;
    color: #61605a;
    border-color: #e1ddc3;
}
.product-item .tocart:before {
    display: none;
}

.product-info-main .page-title-wrapper h1 {
    margin: 15px 0 11px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    color: #21293c;
    letter-spacing: -0.01em;
}
.prev-next-products {
    margin-top: 12px;
}
.product-reviews-summary.empty .reviews-actions:before {
    font-size: 18px;
}
.product-info-main .product.overview {
    font-size: 15px;
    border-color: #e6e6e6;
    font-weight: 400;
    margin-bottom: 15px;
}
.product-info-main .custom-block {
    border-bottom: solid 1px #e6e6e6;
    padding: 23px 0 25px;
    margin-bottom: 25px;
}
.product-info-main .custom-block .item:first-child {
    border-left: 0;
    padding-left: 0;
}
.product-info-main .custom-block .item {
    border-left: 1px solid #e6e6e6;
    display: inline-block;
    padding: 0 10px;
    text-align: left;
}
.product-info-main .custom-block i {
    font-size: 34px;
    color: #c8c29d;
    display: inline-block;
    vertical-align: middle;
}
.product-info-main .custom-block .text-area {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 5px;
}
.product-info-main .custom-block .text-area h3 {
    font-size: 14px;
    font-weight: 400;
    color: #7a7d82;
    margin: 0;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
}
.product-info-main .fieldset > .field.qty, .product-info-main .nested.options-list > .field.qty {
    position: relative;
    width: 106px;
}
.product-info-main .qty.field .control, .product-info-main .qty.field .qty-changer {
    margin-left: 29px;
}
.product-info-main .qty.field .qty-changer > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 43px;
    width: 30px;
    line-height: 41px;
    text-align: center;
    margin: 0;
    border-color: #e1ddc3;
}
.product-info-main .qty.field .qty-changer > a:first-child {
    left: auto;
    right: 4px;
}
.product-info-main .box-tocart .input-text.qty {
    font-family: 'Oswald';
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #61605a;
    margin: 0;
    border-color: #e1ddc3;
}
.product-info-main .qty.field .qty-changer > a .porto-icon-up-dir:before {
    content: '\f882';
}
.product-info-main .qty.field .qty-changer > a .porto-icon-down-dir:before {
    content: '\f883';
}
.box-tocart .action.tocart {
    height: 43px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
}
.action.primary,.action.primary:active {
    font-family: "Oswald";
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product-addto-links .action.towishlist,.product-addto-links .action.tocompare,.moved-add-to-links .action.mailto.friend {
    width: 43px;
    height: 43px;
    line-height: 41px;
}
.product-info-main {
    margin-bottom: 0;
}
.product.info.detailed {
    margin-bottom: 0;
}
.move-product-tab .product-items .product-item-details .product-item-link {
    font-size: 14px;
    color: #7a7d82;
    font-weight: 600;
}
.product.data.items > .item.title > .switch {
    font-size: 18px;
    color: #21293c;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    line-height: 30px;
    background: none;
}
.product.data.items > .item.content {
    background-color: #efefef;
    font-size: 15px;
    letter-spacing: 0.005em;
}
.block.upsell {
    padding-top: 75px;
}
.block.upsell .title {
    background: none;
    text-align: center;
    margin-bottom: 17px;
}
.block.upsell .title strong {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #21293c;
}

.block.upsell .products-grid:not(.side-list) .product-item:hover .product-item-details {
    bottom: -8px;
}
.block.upsell .products-grid:not(.side-list) .product-item .product-item-details .price-box {
    border: none;
}


.footer-middle {
    padding: 67px 0;
    font-size: 13px;
}
.footer-middle .container > .row > .col-sm-4 > .block {
    padding-right: 58px;
}
.footer-middle p{
    font-size: 13px;
    line-height: 30px;
}
.footer-middle .block .block-title {
    margin-bottom: 23px;
}
.footer-middle .block .block-title strong {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.035em;
    font-family: 'Oswald';
    text-transform: uppercase;
}
.footer-middle ul.links li,
.footer-middle ul.features li {
    padding: 13.8px 0;
}
.footer-middle .newsletter div.mage-error {position: absolute;bottom: -25px;left:15px;}
.footer-middle .newsletter label {display: none;}
.footer-middle .newsletter input {
    background-color: #33332f;
    color: #686865;
    height: 48px;
    border: none;
    font-size: 13px;
    padding-left: 15px;
    float: left;
    max-width: 300px;
    width: 100%;
}
.footer-middle .newsletter button {
    float: left;
    width:50px;
    height: 48px;
    margin-left: -50px;
}
.footer-middle .block-bottom {
    border-top: 1px solid #3d3d38;
    margin-top: 45px;
    text-align: left;
    padding: 20px 0;
    overflow: hidden;
}
.footer-middle .block-bottom .social-icons a {
    background-image: none;
    background-color: #33332f;
    text-indent: 0;
    color: #fff;
    border-radius: 0;
    font-size: 15px;
    width: 37px;
    height: 37px;
    text-align: center;
    margin-left: 4px;
    float: left;
    line-height:35px;
}
.footer-middle ul.contact-info li:first-child{
    border-top-width: 0;
}
.footer-middle ul.contact-info li {
    border-top: solid 1px #3d3d38;
    padding: 25px 0;
}
.footer-middle ul.contact-info [class^="porto-icon-"] {
    color: #e1ddc3 !important;
    font-size: 26px;
    line-height: 28px;
}
.footer-middle ul.contact-info p{
    line-height: 1;
}
.footer-middle ul.contact-info b {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-block;
}
@media(max-width: 1199px){
    .footer-middle .container > .row > .col-sm-4 > .block {
        padding-right: 0;
    }
    .product-info-main .custom-block .item {
        width: 100% !important;
        border: none;
        padding:0;
    }
}
@media (max-width: 767px){
    .fieldset > .field.qty {
        margin-bottom: 20px;
    }
    .product-info-main .box-tocart .actions {
        vertical-align: top;
    }
    .block-category-list .block-title, .filter-options-title, .filter .filter-current-subtitle {
        padding: 10px 15px;
    }
    .block-category-list .block-content, .filter-options-content {
        padding: 15px;
    }
    .filter.active .filter-title strong {
        top: 1px;
    }
}
@media (min-width: 640px) {
    .page-products .sorter {
        float: left;
    }
    .modes {
        float: right;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 5px;
    }
    .modes-mode:before {
        content: '\e880';
        font-size: 14px;
    }
    .mode-list:before {
        content: '\e87b';
        font-size: 14px;
    }
    .products.wrapper ~ .toolbar .limiter {
        float: left;
    }
    .products.wrapper ~ .toolbar .pages {
        float: right;
    }
}
@media (min-width: 768px) {
    .product-info-main {
        padding-left: 25px;
    }
    .product.data.items > .item.title {
        padding: 10px 30px 10px 0;
    }
    .product.data.items > .item.title > .switch {
        font-size: 18px;
        color: #21293c;
        text-transform: uppercase;
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        line-height: 30px;
        padding: 0;
        background: none;
    }
    .product.data.items > .item.title:not(.disabled) > .switch:focus,
    .product.data.items > .item.title:not(.disabled) > .switch:hover {
        background: none;
    }
    .product.data.items > .item.title.active > .switch {
        border-bottom-color: #ccc69d;
        background: none;
        color: #61605a;
    }
    .product.data.items > .item.content {
        padding: 35px 0 0;
    }
    .page-products .toolbar .limiter {
        display: block;
    }
}
.sw-megamenu.navigation li > a > span {

    position: relative;
    text-transform: uppercase;

}.sw-megamenu.navigation li > a > span {
    position: relative;
    text-transform: uppercase;
}


.product-image img{
width: 100%;
}

.product-name a{
color:black;
}


@media (min-width: 768px) {
.layout-1280 .page-header.type5,
.layout-1280 .page-main,
.layout-1280 .container{
max-width:100%;
}
}