<?php $options = $block->getBkOptions(); ?>
<?php $maxRow = 0; ?>
<?php $storeId = $block->getBkRequest()->getParam('store_id',0); ?>
<?php if(count($options)) : ?>
	<?php foreach($options as $option) : ?>
		<?php if(!$option->getId()) { continue; } ?>
		<?php $optionId = $option->getId(); ?>
		<div id="parent-bk-room-option-<?php echo $optionId; ?>" class="bk-room-option-content">
			<input type="hidden" class="" name="options[<?php echo $optionId; ?>][option_id]" value="<?php echo $optionId; ?>">
			<input type="hidden" class="" name="options[<?php echo $optionId; ?>][store_id]" value="<?php echo $storeId; ?>">
		  <div class="fieldset-wrapper-title">
			  <div class="actions">
				 <button id="id-bk-room-option-delete-<?php echo $optionId; ?>" class="action-default primary" title="<?php echo __('Delete'); ?>" type="button">
				 <span><?php echo __('Delete'); ?></span>
				 </button>
			  </div>
		   </div>
		   <div id="bk-room-option-content-<?php echo $optionId; ?>" class="bk-room-option-content">
				<fieldset class="fieldset">
					<fieldset id="bk_room_option_<?php echo $optionId; ?>" class="p_content bk-room-main-row">
						<div class="row">
							<div class="col-xl-3 col-m-4 col-xs-6 fields field-room-option-input-type">
							   <label for="bk_room_booking_option_<?php echo $optionId; ?>_title" class="label"><?php echo __('Title') ?></label>
							   <div class="control">
								   <?php if($storeId > 0) : ?>
									<?php 
										$optionTitle = $option->getOptionTitle();
										$arText = $block->getBkArText($option->getOptionTitle(),$option->getOptionTitleTranslate(),$storeId);
										$useDefault = 1;
										if(count($arText))
										{
											$optionTitle = isset($arText['value']) ? $arText['value'] : $optionTitle;
											$useDefault = isset($arText['use_default']) ? $arText['use_default'] : $useDefault;
										}
									?>
									<input type="text" value="<?php echo $optionTitle; ?>" class="required-entry input-text" name="options[<?php echo $optionId; ?>][option_title]" id="bk_room_option_<?php echo $optionId; ?>_title" <?php if($useDefault == 1) echo 'disabled="disabled"'; ?>>
									<br/>
									<input type="checkbox" name="options[<?php echo $optionId; ?>][use_default]" id="bk-room-option-<?php echo $optionId; ?>-use-default" value="1" <?php if($useDefault == 1) { echo 'checked="checked"'; } ?>>
										<?php echo __('Use default value'); ?>
									<?php else : ?>
										 <input type="text" value="<?php echo $option->getOptionTitle(); ?>" class="required-entry input-text" name="options[<?php echo $optionId; ?>][option_title]" id="booking_option_<?php echo $optionId; ?>_title">
									<?php endif; ?>
							   </div>
							</div>
							<div class="col-xl-2 col-m-4 col-xs-6 fields field-room-option-input-type">
							   <label for="bk_room_booking_option_<?php echo $optionId; ?>_type" class="label"><?php echo __('Input Type'); ?></label>
							   <div class="control opt-type">
								  <select title="" class="select" id="bk_room_option_<?php echo $optionId; ?>_type" name="options[<?php echo $optionId; ?>][option_type]">
										<option value="1"><?php echo __('Field'); ?></option>
										<option <?php if($option->getOptionType() == 2) echo 'selected="selected"'; ?> value="2"><?php echo __('Drop Down'); ?></option>
										<option <?php if($option->getOptionType() == 3) echo 'selected="selected"'; ?> value="3"><?php echo __('Multi Dropdown'); ?></option>
										<option <?php if($option->getOptionType() == 4) echo 'selected="selected"'; ?> value="4"><?php echo __('Radio Button'); ?></option>
										<option <?php if($option->getOptionType() == 5) echo 'selected="selected"'; ?> value="5"><?php echo __('CheckBox'); ?></option>
								  </select>
							   </div>
							</div>
							<div class="col-xl-2 col-m-4 col-xs-6 fields field-room-option-input-type">
							   <label for="bk_room_option_<?php echo $optionId; ?>_is_require" class="label"><?php echo __('Price Type'); ?></label>
							   <div class="control opt-type">
								  <select title="" class="select" id="bk_room_booking_option_<?php echo $optionId; ?>_option_price_type" name="options[<?php echo $optionId; ?>][option_price_type]">
									 <option value="1"><?php echo __('Per day'); ?></option>
									<option <?php if($option->getOptionPriceType() == 2) echo 'selected="selected"'; ?> value="2"><?php echo __('All'); ?></option>
								  </select>
							   </div>
							 </div>
							<div class="col-xl-2 col-m-4 col-xs-6 fields field-room-option-input-type">
							   <label for="bk_room_option_<?php echo $optionId; ?>_is_require" class="label"><?php echo __('Is Required'); ?></label>
							   <div class="control opt-type">
								  <select title="" class="select" id="bk_room_booking_option_<?php echo $optionId; ?>_is_require" name="options[<?php echo $optionId; ?>][option_required]">
									 <option value="1"><?php echo __('Yes'); ?></option>
									<option <?php if($option->getOptionRequired() == 2) echo 'selected="selected"'; ?> value="2"><?php echo __('No'); ?></option>
								  </select>
							   </div>
							 </div>
							<div class="col-xl-3 col-m-4 col-xs-6 fields field-room-option-input-type">
							   <label for="bk_room_option_<?php echo $optionId; ?>option_sort" class="label"><?php echo __('Sort Order'); ?></label>
							   <div class="control">
								  <input type="text" value="<?php echo $option->getOptionSort(); ?>" class="input-text required-entry validate-zero-or-greater" name="options[<?php echo $optionId; ?>][option_sort]" id="bk_room_booking_option_<?php echo $optionId; ?>option_sort">
							   </div>
							</div>
						</div>
					</fieldset>
					<fieldset id="bk_room_option_<?php echo $optionId; ?>_type_text" class="bk-room-price-row p_content" <?php if($option['option_type'] == 2 || $option['option_type'] == 3 || $option['option_type'] == 4 || $option['option_type'] == 5) echo 'style="display : none;"'; ?>>
						<div class="row">
							<div class="col-xl-4 col-m-6 col-xs-12 fields field-room-option-input-type">
							   <label for="bk_room_option_<?php echo $optionId; ?>_price" class="label"><?php echo __('Price'); ?></label>
							   <div class="control">
								  <input type="text" value="<?php echo $option->getOptionPrice(); ?>" class="input-text bk-room-option-text-value required-entry validate-zero-or-greater" name="options[<?php echo $optionId; ?>][option_price]" id="bk_room_option_<?php echo $optionId; ?>_price">
							   </div>
							</div>
							<div class="col-xl-4 col-m-6 col-xs-12 fields field-room-option-input-type">
							   <label for="bk_room_option_<?php echo $optionId; ?>_max_number" class="label"><?php echo __('Max Number'); ?></label>
							   <div class="control">
								  <input type="text" value="<?php echo $option->getOptionMaxNumber(); ?>" class="input-text bk-room-option-text-value required-entry validate-zero-or-greater" name="options[<?php echo $optionId; ?>][max_number]" id="bk_room_option_<?php echo $optionId; ?>_max_number">
							   </div>
							</div>
						</div>	
					</fieldset>
					<fieldset id="bk_room_option_<?php echo $optionId; ?>_type_select" class="bk-room-price-row p_content" <?php if($option->getOptionType() == 1) echo 'style="display : none;"'; ?>>
						
						<div class="field-room-option-header row">
							<div class="col-xl-4 col-m-5 col-xs-12 field-room-option-input-type">
							   <label class="label"><?php echo __('Title'); ?></label>
							</div>
							<div class="col-xl-4 col-m-5 col-xs-12 field-room-option-input-type">
							   <label class="label"><?php echo __('Price'); ?></label>
							</div>
						</div>
						<?php $tempValdateSelect = ''; ?>
						<div id="bk_room_select_option_type_row_<?php echo $optionId ?>">
							<?php if($option['option_type'] == 2 || $option['option_type'] == 3 || $option['option_type'] == 4 || $option['option_type'] == 5) : ?>
								<?php $valueOptions = $block->getBkValueOptions($optionId); ?>
								<?php if(!count($valueOptions)) { $tempValdateSelect = 'required-entry'; } ?>
								<?php if(count($valueOptions)) : ?>
									<?php foreach($valueOptions as  $valueOption) : if($valueOption->getId() > $maxRow) { $maxRow = $valueOption->getId(); } ?>
										<div id="bk-room-option-select_<?php echo $optionId; ?>_<?php echo $valueOption->getId(); ?>_row" class="bk-option-select-row">
											<input type="hidden" name="options[<?php echo $optionId ?>][values][<?php echo $valueOption->getId(); ?>][dropdown_id]" class="input-text required-entry bk-option-select-value" value="<?php echo $valueOption->getId(); ?>">
											<input type="hidden" name="options[<?php echo $optionId ?>][values][<?php echo $valueOption->getId(); ?>][store_id]" class="input-text required-entry" value="<?php echo $storeId; ?>">
											<div class="row">
												<div class="col-xl-4 col-m-5 col-xs-12 fields field-room-option-input-type">
													<div class="control">
													<?php if($storeId > 0) : ?>
															<?php 
																$rowTitle = $valueOption->getDropdownTitle();
																$arRowText = $block->getBkArText($valueOption->getDropdownTitle(),$valueOption->getDropdownTitleTranslate(),$storeId);
																$rowUseDefault = 1;
																if(count($arRowText))
																{
																	$rowTitle = isset($arRowText['value']) ? $arRowText['value'] : $rowTitle;
																	$rowUseDefault = isset($arRowText['use_default']) ? $arRowText['use_default'] : $rowUseDefault;
																}
															?>
															<input type="text" id="bk-room-option-select_<?php echo $optionId; ?>_<?php echo $valueOption->getId(); ?>_row_default_title" name="options[<?php echo $optionId ?>][values][<?php echo $valueOption->getId(); ?>][dropdown_title]" class="input-text required-entry bk-room-option-select-value" value="<?php echo $rowTitle; ?>" <?php if($rowUseDefault == 1) echo 'disabled="disabled"'; ?>>
															<br/>
															<input type="checkbox" name="options[<?php echo $optionId ?>][values][<?php echo $valueOption->getId(); ?>][use_default]" class="bk-room-option-select_row_default" id="bk-room-option-select_<?php echo $optionId; ?>_<?php echo $valueOption->getId(); ?>_row_default" value="1" <?php if($rowUseDefault == 1) { echo 'checked="checked"'; } ?>>
															<?php echo __('Use default value'); ?>
														<?php else : ?>
															<input type="text" name="options[<?php echo $optionId ?>][values][<?php echo $valueOption->getId(); ?>][dropdown_title]" class="input-text required-entry bk-room-option-select-title" value="<?php echo $valueOption->getDropdownTitle(); ?>">
														<?php endif; ?>
													</div>
												</div>
												<div class="col-xl-4 col-m-5 col-xs-12 fields field-room-option-input-type">
													<div class="control">
														<input type="text" name="options[<?php echo $optionId ?>][values][<?php echo $valueOption->getId(); ?>][dropdown_price]" class="input-text required-entry validate-zero-or-greater bk-room-option-select-value" value="<?php echo $valueOption->getDropdownPrice(); ?>">
													</div>
												</div>
												<div class="col-xl-4 col-m-2 col-xs-12 fields field-room-option-input-type">
													<div class="control">
														<button id="bk-room-option-select_<?php echo $optionId ?>_<?php echo $valueOption->getId(); ?>" title="<?php echo __('Delete') ?>" type="button" class="action-default primary delete-bk-room-row-keke-<?php echo $optionId; ?>"><span><span><span><?php echo __('Delete') ?></span></span></span></button>
													</div>
												</div>
											</div>
										</div>
									<?php endforeach;  ?>
								<?php endif; ?>
							<?php endif; $maxRow++; ?>
						</div>
						<input type="hidden" class="<?php echo $tempValdateSelect; ?>" value="" id="bk_room_option_<?php echo $optionId; ?>_type_select_validate" />
						<div class="control-booking-fileds-button">
						   <div class="control">
							   <button style="float : right;" class="action-default primary" type="button" title="Add New Row" id="bk_room_add_select_row_button_<?php echo $optionId; ?>">
									<span><span><span><?php echo __('Add New Row'); ?></span></span></span>
								</button>
						   </div>
						</div>
				 </fieldset>
			  </fieldset>
		   </div>
		</div>
		<script type="text/javascript">
		require(['jquery'],
			function($) {
				var optionId = '<?php echo $optionId; ?>';
				var storeId = '<?php echo $storeId; ?>';
				$('#id-bk-room-option-delete-'+optionId).click(function(){
					$('#parent-bk-room-option-'+optionId).remove();
				});
				$('#bk_room_option_'+optionId+'_type').change(function(){
					var typeValue = $(this).val();
					if(typeValue == '1')
					{
						$('#bk_room_option_'+optionId+'_type_text').css('display','block');
						$('#bk_room_option_'+optionId+'_type_select').css('display','none');
						$('#bk_room_option_'+optionId+'_type_select_validate').removeClass('required-entry');
						if($('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').length)
						{
							if(!$('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').hasClass('required-entry'))
							{
								$('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').addClass('required-entry');
							}
							if(!$('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').hasClass('validate-zero-or-greater'))
							{
								$('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').addClass('validate-zero-or-greater');
							}
						}
						if($('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').length)
						{
							if($('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').hasClass('required-entry'))
							{
								$('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').removeClass('required-entry');
							}
							if($('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').hasClass('validate-zero-or-greater'))
							{
								$('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').removeClass('validate-zero-or-greater');
							}
							
						}
						if($('#bk_room_select_option_type_row_'+optionId+' .bk-option-select-title').length)
						{
							if($('#bk_room_select_option_type_row_'+optionId+' .bk-option-select-title').hasClass('required-entry'))
							{
								$('#bk_room_select_option_type_row_'+optionId+' .bk-option-select-title').removeClass('required-entry');
							}
						}
					}
					else
					{
						$('#bk_room_option_'+optionId+'_type_select').css('display','block');
						$('#bk_room_option_'+optionId+'_type_text').css('display','none');
						if($('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').length)
						{
							if($('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').hasClass('required-entry'))
							{
								$('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').removeClass('required-entry');
							}
							if($('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').hasClass('validate-zero-or-greater'))
							{
								$('#bk_room_option_'+optionId+'_type_text .bk-room-option-text-value').removeClass('validate-zero-or-greater');
							}
						}
						var contentSelect = $('#bk_room_select_option_type_row_'+optionId).text();
						console.log(contentSelect);
						if($.trim(contentSelect) == '')
						{
							$('#bk_room_option_'+optionId+'_type_select_validate').addClass('required-entry');
						}
						if($('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').length)
						{
							if(!$('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').hasClass('required-entry'))
							{
								$('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').addClass('required-entry');
							}
							if(!$('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').hasClass('validate-zero-or-greater'))
							{
								$('#bk_room_select_option_type_row_'+optionId+' .bk-room-option-select-value').addClass('validate-zero-or-greater');
							}
							
						}
						if($('#bk_room_select_option_type_row_'+optionId+' .bk-option-select-title').length)
						{
							if(!$('#bk_room_select_option_type_row_'+optionId+' .bk-option-select-title').hasClass('required-entry'))
							{
								$('#bk_room_select_option_type_row_'+optionId+' .bk-option-select-title').addClass('required-entry');
							}
						}
					}
				});
				var bkDropdwonIRowId = 0;
				$('#bk_room_add_select_row_button_'+optionId).click(function(){
					console.log('test');
					var rowTemplate = '<div id="bk-room-option-select_'+optionId+'_'+bkDropdwonIRowId+'_row" class="bk-room-option-select-row row">'
					rowTemplate += '<input type="hidden" name="options['+optionId+'][values]['+bkDropdwonIRowId+'][dropdown_id]" class="input-text required-entry bk-room-option-select-value" value="0">';
					rowTemplate += '<div class="col-xl-4 col-m-5 col-xs-12 fields field-room-option-input-type">';
					rowTemplate += '<div class="control">';
					rowTemplate += '<input type="text" name="options['+optionId+'][values]['+bkDropdwonIRowId+'][dropdown_title]" class="input-text required-entry bk-room-option-select-title" value="">';
					rowTemplate += '</div>';
					rowTemplate += '</div>';
					rowTemplate += '<div class="col-xl-4 col-m-5 col-xs-12 fields field-room-option-input-type">';
					rowTemplate += '<div class="control">';
					rowTemplate += '<input type="text" name="options['+optionId+'][values]['+bkDropdwonIRowId+'][dropdown_price]" class="input-text required-entry bk-room-option-select-value validate-zero-or-greater" value="0">';
					rowTemplate += '</div>';
					rowTemplate += '</div>';
					rowTemplate += '<div class="col-xl-4 col-m-5 col-xs-12 fields field-room-option-input-type field-room-option-input-type-inputdell">';
					rowTemplate += '<div class="control">';
					rowTemplate += '<button id="bk-room-option-select_'+optionId+'_'+bkDropdwonIRowId+'" title="<?php echo __('Delete') ?>" type="button" class="action-default primary delete-bk-room-row-keke-'+optionId+'"><span><span><span><?php echo __('Delete') ?></span></span></span></button>';
					rowTemplate += '</div>';
					rowTemplate += '</div>';
					rowTemplate += '</div>';
					$('#bk_room_select_option_type_row_'+optionId).append(rowTemplate);
					$('#bk_room_option_'+optionId+'_type_select_validate').removeClass('required-entry');
					bkDropdwonIRowId++;
				});
				$('#bk-room-option-'+optionId+'-use-default').click(function(){
					if($(this).is(":checked"))
					{
						$('#bk_room_option_'+optionId+'_title').prop('disabled',true);
					}
					else
					{
						$('#bk_room_option_'+optionId+'_title').prop('disabled',false);
					}
				});
				$('.bk-room-option-select_row_default').click(function(){
					var elementId = $(this).attr('id');
					if($(this).is(":checked"))
					{
						$('#'+elementId+'_title').prop('disabled',true);
					}
					else
					{
						$('#'+elementId+'_title').prop('disabled',false);
					}
				});
				$(document).on("click",".delete-bk-room-row-keke-"+optionId,function(){
					var elementId = $(this).attr('id');
					$('#'+elementId+'_row').remove();
					var contentSelect = $('#bk_room_select_option_type_row_'+optionId).text();
					if($.trim(contentSelect) == '')
					{
						$('#bk_room_option_'+optionId+'_type_select_validate').addClass('required-entry');
					}
				})
			})
		</script>
	<?php endforeach; ?>
<?php endif; ?>
<!--end-->