<?php $bookings = $block->getBookingsMultiSelect(); ?>
<?php $bookingType = $block->getBookingType(); ?>
<?php $bookingIds = $block->getBkBookingIds(); ?>
<?php $arRoomTypes =  $block->getBkRoomTypes(); ?>
<?php $bookingIds =  explode(',',$bookingIds); ?>
<?php if($bookingType == 'room') : ?>
	<select name="facilities[booking_ids][]" class="col-xs-10 col-sm-5" multiple="">
	<?php if(count($bookings)) : ?>
		<?php foreach($bookings as $booking) : ?>
		<optgroup label="<?php echo $booking->getName(); ?>">
           <?php $rooms = $block->getBkRooms($booking->getId()); ?>
			<?php if(count($rooms)) : ?>
				<?php foreach($rooms as $room) : ?>
					<?php if(!isset($arRoomTypes[$room->getRoomType()])) { continue; } ?>
					<option <?php echo in_array($room->getId(),$bookingIds) ? 'selected="selected"' : ''; ?> value="<?php echo $room->getId(); ?>"><?php echo $arRoomTypes[$room->getRoomType()]; ?></option>
				<?php endforeach; ?>
			<?php endif; ?>
        </optgroup>
		<?php endforeach; ?>
	<?php endif; ?>
	</select>
<?php else : ?>
	<select name="facilities[booking_ids][]" class="col-xs-10 col-sm-5" multiple="">
		<?php if(count($bookings)) : ?>
			<?php foreach($bookings as $booking) : ?>
				<option <?php echo in_array($booking->getId(),$bookingIds) ? 'selected="selected"' : ''; ?> value="<?php echo $booking->getId(); ?>"><?php echo $booking->getName(); ?></option>
			<?php endforeach; ?>
		<?php endif; ?>
	</select>
<?php endif; ?>
