<script type="text/javascript">
    var addthis_config = {
        "ui_language": '<?php echo $this->getAddThisLanguage(); ?>',
        "data_track_clickback":false
    }</script><script type="text/javascript" async src="<?php echo '/' . '/' ?>s7.addthis.com/js/250/addthis_widget.js#pubid=<?php echo $this->getAddThisPubId(); ?>"></script>