.popup-booking-left{
	float: left;
    margin-left: 0px;
    width: 100%;
}
.popup-booking-right
{
	float: left;
	width: 28%;
	text-align: left;
	padding-top: 5px;
}
#booking-calendar {
  float: left;
  margin-bottom: 0px;
  min-height: 565px;
  width: 99%;
  margin-top:10px;
}
.booking-popup-header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  float: left;
  text-align: left;
  width: 100%;
}
.booking-popup-header h2 {
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding: 5px 10px;
}
.booking-popup-content
{
	float: left;
    width: 100%;
}
#booking-light-box > a {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
}
/* end popup */
.booking-button
{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#add-new-calendar
{
	margin: 10px;
}
#booking-update-calendar
{
	border-bottom: 1px solid #000;
    float: left;
}
/* style list item booking */
.booking-field
{
   float: left;
   margin-left: 10px;
   width: 70%;
}

.booking-space-days{
	border: 1px solid;
    margin: 5px 0;
	width: 100%;
	float: left;
}
.booking-field-item > label {
    float: left;
    width: 18%;
}
.booking-field-item {
    float: left;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}
/* style popup hao */
/* #booking-popup .booking-popup-content {
    margin-left: 0;
    padding: 20px;
}
 */
.booking-field .booking-field-item {
    margin-top: 10px;
}

.booking-field-item .booking-field-item {
    line-height: 35px;
}

.booking-field-item input {
    line-height: 20px;
    padding: 0 5px;
}

.booking-field-item select {
    height: 22px;
    line-height: 22px;
}
.booking-list-items-header span.booking-label,
.booking-list-items-content .booking-data {
    padding: 10px 0;
}
/* field update room */
.booking-room-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}
.filed-room-type {
  float: left;
  margin-left: 10px;
  text-align: left;
}
.show-temporary-image {
  float: left;
  margin-left: 10px;
  text-align: left;
  width: 100%;
}
.room-field
{
	float: left;
	width: 99%;
}
.room-field label
{
	float: left;
	width: 40%;
}
.room-field input {
  float: left;
  height: 25px;
  line-height: 25px;
  margin-left: 0;
  padding: 0 5px;
}
.room-field > select {
  width: 145px;
}
.room-field > textarea {
  width: 290px;
}
.room-field label {
  float: left;
  font-weight: bold;
  width: 20%;
}
.room-field {
  float: left;
  line-height: 25px;
  padding: 5px;
  width: 99%;
}
.show-temporary-image .room-field label
{
	float: left;
	width: auto;
}
.list-temporary-image {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  padding-top: 10px;
  width: 100%;
}
.list-temporary-image .room-image
{
	float : left;
	margin-left: 5px;
	position: relative;
}
.list-temporary-image .room-image a
{
	position: absolute;
    right: 5px;
    top: 5px;
}

/* Tab section */
#bk-tabs-container {
  padding: 5px;
}
.bk-tabs-menu {
  clear: both;
  float: left;
  height: auto;
  width: 20%;
}

.bk-tabs-menu li {
  border: medium none;
  float: left;
  height: 30px;
  width: 100%;
  line-height: 30px;
  margin-right: 10px;
  text-align:right;
  list-style : none;
background: rgba(101,170,235,1);
background: -moz-linear-gradient(left, rgba(101,170,235,1) 0%, rgba(46,126,163,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,170,235,1)), color-stop(100%, rgba(46,126,163,1)));
background: -webkit-linear-gradient(left, rgba(101,170,235,1) 0%, rgba(46,126,163,1) 100%);
background: -o-linear-gradient(left, rgba(101,170,235,1) 0%, rgba(46,126,163,1) 100%);
background: -ms-linear-gradient(left, rgba(101,170,235,1) 0%, rgba(46,126,163,1) 100%);
background: linear-gradient(to right, rgba(101,170,235,1) 0%, rgba(46,126,163,1) 100%);
border-bottom: #fff solid 1px;
}

.bk-tabs-menu li.current {
  background: #dddddd none repeat scroll 0 0;
  border-bottom: 1px solid #dddddd;
  position: relative;
  z-index: 5;
}

.bk-tabs-menu li a {
    padding: 10px;
    /* text-transform: uppercase; */
    color: #fff;
    text-decoration: none; 
}

.bk-tabs-menu .current a {
    color: #000;
	font-weight:bold;
}
.tab {
  background-color: #ffffff;
  border: 3px solid #dddddd;
  float: left;
  margin-bottom: 20px;
  width: 78%;
}
.bk-tab-content {
  display: none;
  padding: 10px;
  text-align: left;
  width: auto;
}

#tab-1 {
 display: block;   
}
.booking-data-edit {
  color: #fb9c52;
}
.booking-data-dell, .booking-data-del, .booking-data-delete {
  color: #ff0000;
}
/* new code */

.bk-room-main-row {
    border: none;
}
.bk-room-price-row {
    float: left;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
}
.field-room-option-header
{
	float: left;
	width: 100%;
}
.bk-room-price-row .field-room-option-input-type {
    float: left;
    width: 30%;
    margin: 5px;
}
.bk-room-option-content .fieldset-wrapper-title
{
	float: left;
	width: 100%;
}
.bk-room-option-content .fieldset-wrapper-title div.actions
{
	float: right;
}
.field-room-discount-input-type-condition .input-text { width: 90px; }
.field-room-discount-input-type-condition .input-text ~ span { font-size: 12px; color: #999; }
.mt-sm { margin-top: 10px; }
.mb_sm { margin-bottom: 10px; }
#form-bookking-room .fieldset-wrapper-title > strong { display: inline-block;margin-bottom: 5px; }
.p_content { padding: 8px; }
.fields > label { margin-bottom: 3px;display: block; }
.fields > .control { margin-bottom: 8px; }
.fields .control select, .fields .control .input-text  { height: 28px;min-width: 90px; }
.fields .control .input-text { max-width:100%;padding-left: 7px; }
.control-booking-fileds-button { margin-bottom: 20px; }
.list-temporary-image .room-image-delete { font-size: 0; }
.list-temporary-image .room-image-delete:before { color: #9e9e9e;content: "";display: inline-block;font-family: "Admin Icons";font-size: 1.8rem;font-weight: normal;line-height: inherit;overflow: hidden;text-align: center;vertical-align: middle;opacity: 0; }
.list-temporary-image .room-image:hover .room-image-delete:before { -webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;opacity: 1; }
.input-right-bt { position: relative; }
.input-right-bt > input { padding: 4px 10px;width: 100%; }
.input-right-bt > button { position: absolute; right: 0px;top:0;height:100%; }
.input-right-bt > input#pac-input { padding-right: 120px; }
/*------2.1----*/
.mb-ms { margin-bottom: 10px; }
#booking-save-data { margin: -30px -15px 0 0; }
.bk-popup-modal-contenter .form-inline .field:after, .modal-content:after { clear: both; }
.modal-content:after, .modal-content:before,
.bk-popup-modal-contenter .form-inline .field:after,.bk-popup-modal-contenter .form-inline .field:before { content: "";display: table; }
.bk-popup-modal-contenter fieldset { border: 1px solid #ccc; padding: 30px 15px 20px; }
.bk-popup-modal-contenter .form-inline .field { margin-bottom: 15px;position: relative; }
.bk-popup-modal-contenter .form-inline .field > .label { float: left; width: 25%; line-height: 34px; padding-right: 30px; }
.bk-popup-modal-contenter .form-inline .field > .control { float: left;margin: 0;width: 50%; }
.bk-popup-modal-contenter .form-inline .field > .control .input-text { height:34px;padding: 4px 10px;width: 100%;border: 1px solid #adadad; }
.bk-popup-modal-contenter .form-inline .field > .field-service { width: 20%;color: #999;float: left;font-size: 12px;letter-spacing: 0.05em;padding: 7px 0 0 15px; }
.bk-popup-modal-contenter .form-inline .field > .field-service:before { content: attr(value-scope) !important;display: block;margin-bottom: 5px;white-space: nowrap; }
.bk-popup-modal-contenter .field .error { color: red; font-size: 12px; }
.room-field > input, .room-field > select { height: 28px; }
.room-field > input, .room-field textarea { width: 180px;border: 1px solid #ddd; } 
.bk-room-option-content .fieldset-wrapper-title { padding:0; }
#bk-popup-modal-room { position: relative; }
#bk-popup-modal-room .booking-popup-header .booking-button { margin-right: 75px; }
#bk-popup-modal-room > .bk-rent-hotel-close { position: absolute; right: 0px; top: 10px;}

