<div class="entry-edit fieldset" id="import_validation_container" style="display:none;">
    <div class="entry-edit-head legend">
        <span class="icon-head head-edit-form fieldset-legend"
            id="import_validation_container_header"><?= __('Validation Results') ?></span>
    </div><br>
    <div id="import_validation_messages" class="fieldset"></div>
</div>
<script>
require(['jquery', 'Magento_Ui/js/modal/alert', 'prototype'], function(jQuery){
//<![CDATA[
    varienImport.resetSelectIndex('entity');
//]]>

});
</script>
