<?php $discounts = $this->getBkDiscounts(); ?>
<?php if(count($discounts)) : ?>
	<?php foreach($discounts as $discount) : ?>
		<?php if(!$discount->getId()) { continue; } ?>
		<?php $discountId = $discount->getId(); ?>
		<div id="parent-bk-discount-<?php echo $discountId; ?>" class="fieldset-wrapper admin__collapsible-block-wrapper opened">
			<input type="hidden" class="" name="bookings[discounts][<?php echo $discountId; ?>][discount_id]" value="<?php echo $discountId; ?>">
		  <div class="fieldset-wrapper-title">
			  <div class="actions">
				 <button id="id-booking-discount-delete-<?php echo $discountId; ?>" class="action-delete" title="<?php echo __('Delete'); ?>" type="button">
				 <span><?php echo __('Delete Discount'); ?></span>
				 </button>
			  </div>
		   </div>
		   <div id="bk-discount-content-<?php echo $discountId; ?>" class="fieldset-wrapper-content">
			  <fieldset class="fieldset">
				 <fieldset id="booking_discount_<?php echo $discountId; ?>" class="p_content">
					<div class="row">
						<div class="col-xl-4 col-m-6 col-xs-12 fields field-discount-input-type required">
							<label for="booking_discount_<?php echo $discountId; ?>_title" class="label"><?php echo __('Discount Type') ?></label>
							<div class="control">
								<select title="" class="select" id="booking_discount_<?php echo $discountId; ?>_type" name="bookings[discounts][<?php echo $discountId; ?>][discount_type]">
									<option value="1"><?php echo __('Last minute'); ?></option>
									<option <?php if($discount->getDiscountType() == 2) echo 'selected="selected"'; ?> value="2"><?php echo __('First moment'); ?></option>
									<option <?php if($discount->getDiscountType() == 3) echo 'selected="selected"'; ?> value="3"><?php echo __('Length of reservation'); ?></option>
								</select>
							</div>
						</div>
						<div class="col-xl-4 col-m-6 col-xs-12 fields field-discount-input-type required">
							<label for="booking_discount_<?php echo $discountId; ?>_condition" class="label"><?php echo __('Discount Type') ?>
								<span id="bk-discount-message-<?php echo $discountId; ?>"><?php echo __('(booked nearest in )'); ?></span>
							</label>
							<div class="control">
								<input type="text" value="<?php echo $discount->getDiscountPeriod(); ?>" class="input-text required-entry validate-zero-or-greater" name="bookings[discounts][<?php echo $discountId; ?>][discount_period]" >
								<span id="bk-discount-message-2-<?php echo $discountId; ?>"><?php echo __('days') ?></span>
							</div>
						</div>
						<div class="col-xl-4 col-m-6 col-xs-12 fields field-discount-input-type required">
							<label for="booking_discount_<?php echo $discountId; ?>_title" class="label"><?php echo __('Amount Type') ?></label>
							<div class="control">
								<select title="" class="select" name="bookings[discounts][<?php echo $discountId; ?>][discount_amount_type]">
									<option value="1"><?php echo __('Percentage'); ?></option>
									<option <?php if($discount->getDiscountAmountType() == 2) echo 'selected="selected"'; ?> value="2"><?php echo __('Fixed amount'); ?></option>
								</select>
							</div>
						</div>
						<div class="col-xl-4 col-m-6 col-xs-12 fields field-discount-input-type required">
							<label for="booking_discount_<?php echo $discountId; ?>_amount" class="label"><?php echo __('Amount') ?></label>
							<div class="control">
								<input type="text" value="<?php echo $discount->getDiscountAmount(); ?>" class="input-text required-entry validate-zero-or-greater" name="bookings[discounts][<?php echo $discountId; ?>][discount_amount]" >
							</div>
						</div>
						<div class="col-xl-4 col-m-6 col-xs-12 fields field-discount-input-type required">
							<label for="booking_discount_<?php echo $discountId; ?>_max_items" class="label"><?php echo __('Max Items') ?></label>
							<div class="control">
								<input type="text" value="<?php echo $discount->getDiscountMaxItems(); ?>" class="input-text required-entry validate-zero-or-greater" name="bookings[discounts][<?php echo $discountId; ?>][discount_max_items]" >
							</div>
						</div>
						<div class="col-xl-4 col-m-6 col-xs-12 fields field-discount-input-type required">
							<label for="booking_discount_<?php echo $discountId; ?>_priority" class="label"><?php echo __('Priority') ?></label>
							<div class="control">
								<input type="text" value="<?php echo $discount->getDiscountPriority(); ?>" class="input-text required-entry validate-zero-or-greater" name="bookings[discounts][<?php echo $discountId; ?>][discount_priority]" >
							</div>
						</div>
					</div>
				</fieldset>
			  </fieldset>
		   </div>
		</div>
		<script type="text/javascript">
		require(['jquery'],
			function($) {
				var discountId = '<?php echo $discountId; ?>';
				$('#id-booking-discount-delete-'+discountId).click(function(){
					$('#parent-bk-discount-'+discountId).remove();
				})
				$('#booking_discount_'+discountId+'_type').change(function(){
				if($(this).val() == '1')
				{
					$('#bk-discount-message-'+discountId).html('<?php echo __('(booked nearest in) '); ?>');
					$('#bk-discount-message-2-'+discountId).html('<?php echo __('days'); ?>');
				}
				else if($(this).val() == '2')
				{
					$('#bk-discount-message-'+discountId).html('<?php echo __('(booked at least far in)'); ?>');
					$('#bk-discount-message-2-'+discountId).html('<?php echo __('days'); ?>');
				}
				else
				{
					$('#bk-discount-message-'+discountId).html('<?php echo __('(Minimal Quantity is)'); ?>');
					$('#bk-discount-message-2-'+discountId).html('<?php echo __('Session/day'); ?>');
				}
				});
			})
		</script>
	<?php endforeach; ?>
<?php endif; ?>