
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
	<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $_product->getId() ?>" />
	<input type="hidden" name="selected_configurable_option" value="" />
	<input type="hidden" name="related_product" id="related-products-field" value="" />
	<?php echo $block->getBlockHtml('formkey')?>
	<?php echo $block->getChildHtml('product.form.wrapper.content'); ?>
	<?php echo $block->getChildHtml('booking.content'); ?>
	
</form>
