<?php $results = $block->getBookingResult(); ?>
<?php $bookingError  = 0; ?>
<?php $totalPrice  = 0; ?>
<?php $totalPromo  = 0; ?>
<?php $okPromo  = 0; ?>
<?php $bookingId = isset($results['booking_id']) ? $results['booking_id'] : 0; ?>
<?php if($results['str_error'] == '') : ?>
	<?php 
	$totalPrice = $block->getBkPriceHelper()->currency($results['total_price'],true,false);
	$totalPromo = $results['total_promo'] > 0 ? $results['total_promo'] : 0;
	if($totalPromo > 0)
	{
		$okPromo = 1;
	}
	$totalPromo = $block->getBkPriceHelper()->currency($totalPromo,true,false);
	?>
	<?php if($results['str_note'] != '') : ?>
		<span class="booking-result-note"><?php echo $results['str_note']; ?> </span>
	<?php endif; ?>
	<div class="price-box">
		<?php if($results['total_promo'] > 0) : ?>
			<p class="old-price">
				<span class="price-label"><?php //echo __('Regular Price') ?></span>
				<span class="price"><?php echo $block->getBkPriceHelper()->currency($results['total_price'],true,false); ?></span>
			</p>
			<p class="special-price">
				<span class="price-label"><?php //echo __('Special Price'); ?></span>
				<span class="price"><?php echo $block->getBkPriceHelper()->currency($results['total_promo'],true,false); ?></span>
			</p>
		<?php else :  ?>
			<p>
				<span class="price-label"><?php //echo __('Regular Price') ?></span>
				<span class="regular-price"><span class="price"><?php echo $block->getBkPriceHelper()->currency($results['total_price'],true,false); ?></span></span>
			</p>
		<?php endif; ?>
    </div>
	<input type="hidden" name="booking_validate_book" id="booking-validate-book" class="booking-validate-book" value="1" />
<?php else :  ?>
<?php $bookingError = 1; ?>
<span class="booking-result-error"><?php echo $results['str_error']; ?></span>
<input type="hidden" name="booking_validate_book" id="booking-validate-book" class="booking-validate-book" value="0" />
<?php endif; ?>
<script>
require(['jquery'],
	function ($){
		var bookingError = '<?php echo $bookingError; ?>';
		var bookingId = '<?php echo $bookingId; ?>';
		var totalPrice = '<?php echo $totalPrice; ?>';
		var totalPromo = '<?php echo $totalPromo; ?>';
		var okPromo  = '<?php echo $okPromo ; ?>';
		if(bookingError == '1')
		{
			if($('#product-addtocart-button').length)
			{
				$('#product-addtocart-button').prop('disabled',true);
			}
			else
			{
				$('#product-updatecart-button').prop('disabled',true);
			}
		}
		else
		{
			if($('#product-addtocart-button').length)
			{
				$('#product-addtocart-button').prop('disabled',false);
			}
			else
			{
				$('#product-updatecart-button').prop('disabled',false);
			}
			if($('#old-price-'+bookingId).length)
			{
				$('#old-price-'+bookingId).html('<span class="price">'+totalPrice+'</span>');
				$('#product-price-'+bookingId).html('<span class="price">'+totalPromo+'</span>');
			}
			else
			{
				if(okPromo == '1')
				{
					$('#product-price-'+bookingId).html('<span class="price">'+totalPromo+'</span>');
				}
				else
				{
					$('#product-price-'+bookingId).html('<span class="price">'+totalPrice+'</span>');
				}
			}
		}
		
	})	
</script>