/* style header */
/* style sidebar */
/* style breadcrumbs */
/* style Dashboard  */

.main-container.container::before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    width: inherit;
}
.main-container::before {
    background-color: #fff;
    bottom: 0;
    content: "";
    display: block;
    max-width: inherit;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
.main-content {
    margin-left: 0;
    min-height: 100%;
    padding: 0;
}
.main-container.container {
    padding-left: 0;
    padding-right: 0;
}
.page-content {
    background-color: #fff;
    margin: 0;
    padding: 8px 20px 24px;
    position: relative;
}
/* style header */


.navbar {
    background: none repeat scroll 0 0 #438eb9;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    margin: 0;
    min-height: 45px;
    padding: 45px 0 20px;
}
.navbar-container.container {
    padding-left: 0;
    padding-right: 0;
}
.no-skin .navbar .navbar-toggle {
    background-color: #75b3d7;
}
.navbar .navbar-toggle.pull-left {
    margin: 5px 0 4px 6px;
}
.navbar .navbar-toggle {
    border: 1px solid transparent;
    height: 35px;
    line-height: 0;
    padding: 0 0 1px;
    text-align: center;
    width: 40px;
}
.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: none;
}
.label-success, .label.label-success, .badge.badge-success, .badge-success {
    background-color: #82af6f;
}
.navbar .navbar-toggle {
    background-color: #75b3d7;
}
.navbar .navbar-toggle.pull-left {
    margin: 5px 0 4px 6px;
}
.navbar .navbar-toggle {
    border: 1px solid transparent;
    height: 35px;
    line-height: 0;
    padding: 0 0 1px;
    text-align: center;
    width: 40px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #fff;
    border-radius: 0;
    margin-left: 7px;
    width: 24px;
}
.navbar .navbar-header, .navbar .navbar-collapse {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.navbar .navbar-toggle:focus ,
.navbar .navbar-toggle:hover {
    background-color: #61a8d1;
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar .navbar-brand:hover{
	color: #fff;
}


/* end style header */

/* style sidebar */
.nav-list > li > a {
    background-color: #f8f8f8;
    color: #585858;
}

.sidebar::before {
    background-color: inherit;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
    bottom: 0;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    width: inherit;
    z-index: -1;
}
.sidebar {
	background-color: #f2f2f2;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 0 0;
    float: left;
    padding-left: 0;
    padding-right: 0;
    position: static;
    width: 200px;
}
.sidebar + .main-content {
    margin-left: 200px;
}
.main-content-inner {
    float: left;
    width: 100%;
}
a:focus {
    outline: medium none;
    outline-offset: 0;
}
.nav-list {
    border: medium none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.nav-list > li {
    border-style: solid;
    border-width: 1px 0 0;
    display: block;
    float: none;
    padding: 0;
	border-color: #e5e5e5;
    position: relative;
	margin-bottom:0px;
}

.main-container.container .sidebar:not(.h-sidebar) .nav-list > li::before {
    left: -2px;
}
.nav-list > li::before {
    background-color: #629cc9;
    content: "";
    display: none;
    height: 41px;
    left: 0;
    max-width: 3px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 3px;
    z-index: 1;
}

.nav-list > li:hover::before {
    display: block;
}
.nav-list > li > a > .menu-icon {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-right: 2px;
    min-width: 30px;
    text-align: center;
    vertical-align: sub;
}

.nav-list > li > a {
    display: block;
    font-size: 13px;
    height: 39px;
    line-height: 17px;
    padding-left: 7px;
    text-decoration: none;
    text-shadow: none !important;
	color: #585858;
	border-radius:0;
	
}




.nav-list > li:hover > a {
    background-color: #fff;
    color: #266cad;
	/* border:none; */
}
.nav-list > li.active:hover + li, .nav-list > li.active + li,.nav-list > li.active {
    border-top-color: #c8d8e2;
}
.nav-list > li.active::before {
    background-color: #4f90c2;
    display: block;
}
.nav-list > li.active > a {
    background-color: #f2f6f9 !important;
	border:none;
}
.nav-list > li.active > a ,
.nav-list > li.active > a:focus {
    color: #2b7dbc;
	/* border:none; */
    font-weight: 700;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
border-width:0px;
}
.nav.tabs-left > li {
    margin-right: 0;
}
.nav-list > li.active > a::before, .nav-list > li.active > a::after,
.nav-list > li:hover > a::before, .nav-list > li:hover > a::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f2f6f9;
  border-style: solid;
  border-width: 20px 0 21px 10px;
  bottom: auto;
  content: "";
  display: block;
  position: absolute;
  right: -9px;
  top: -1px;
  z-index: 1;
}
.nav-list > li.active > a::before,.nav-list > li:hover > a::before {
  border-left-color: #a0bccd;
  right: -10px;
}

/* end style sidebar */

/* style breadcrumbs */
.breadcrumbs {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 40px;
    min-height: 41px;
    padding: 0 12px 0 0;
    position: relative;
    z-index: auto;
}
.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    margin: 6px 22px 0 12px;
    padding: 0;
}
.breadcrumb > li, .breadcrumb > li.active {
    color: #555;
    padding: 0 3px;
	text-transform: uppercase;
}

/* end style breadcrumbs */




/* style Dashboard  */
.alert {
    border-radius: 0;
    font-size: 14px;
}
.green {
    color: #69aa46 !important;
}.alert .close {
    font-size: 16px;
}
/* style service  */
.page-header {
    border-bottom: 1px dotted #e2e2e2;
    margin: 0 0 12px;
    padding-bottom: 16px;
    padding-top: 7px;
}
.page-header h1 {
    color: #2679b5;
    font-size: 24px;
    font-weight: lighter;
    margin: 0 8px;
    padding: 0;
}
.btn-pink, .btn-pink:focus {
    background-color: #d6487e !important;
    border-color: #d6487e;
}
.btn-pink:hover, .btn-pink:active, .open > .btn-pink.dropdown-toggle {
    background-color: #b73766 !important;
    border-color: #d6487e;
	background-image:none;
}
.tableTools-container {
    margin-bottom: 8px;
}
.btn_tool.btn {
    border: 1px solid #8aafce;
    border-radius: 0;
}
.dataTables_wrapper .row:first-child {
    background-color: #eff3f8;
    padding-bottom: 12px;
    padding-top: 12px;
}
.dataTables_wrapper .row {
    margin: 0 !important;
}
.dataTables_wrapper label {
    display: inline-block;
    font-size: 13px;
	font-weight: 400;
}
.dataTables_wrapper input[type="text"], .dataTables_wrapper input[type="search"], .dataTables_wrapper select {
    margin-bottom: 0 !important;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
}
.dataTables_length select {
    height: 25px;
    padding: 2px 3px;
    width: 70px;
}
.form-control, select {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-shadow: none !important;
    color: #858585;
}
select option, select.form-control option {
    padding: 3px 4px 5px;
}
.dataTables_filter {
    text-align: right;
}
.dataTables_wrapper .row:first-child + .dataTable {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
table.dataTable {
    clear: both;
    max-width: none !important;
}
.dataTable {
    margin-bottom: 0;
}
.table > thead > tr {
    background: linear-gradient(to bottom, #f8f8f8 0px, #ececec 100%) repeat-x scroll 0 0 #f2f2f2;
    color: #707070;
    font-weight: 400;
}
.table.table-bordered > thead > tr > th:first-child {
    border-left-color: #ddd;
}
.dataTable > thead > tr > th:hover {
    color: #547ea8;
	cursor:pointer;
}
input.ace[type="checkbox"] + .lbl {
    display: block;
    height: 16px;
    position: relative;
    width: 16px;
}
input.ace[type="checkbox"] + .lbl::before{
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #32a3ce;
    content: " ";
    cursor: pointer;
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    font-weight: 400;
    height: 16px; 
    line-height: 14px;
    width: 16px;
    position: a;
    text-align: center;
	position: absolute;
    top: 2px;
}

input.ace[type="checkbox"]:checked + .lbl::before{
    background-color: #f5f8fc;
    border-color: #adb8c0;
   content: '\f00c';
    display: inline-block;
	top: 2px;
}

input.ace[type="checkbox"]:hover + .lbl::before,  input.ace[type="checkbox"] + .lbl:hover::before{
    border-color: #ff893c;
}
.pos-rel span{
	height: 21px;
    line-height: 21px;
}
.table > thead > tr th {
    line-height: 21px;
	 border-right: 1px solid #ddd;
}
.table > thead > tr th:first-child{
	border-left: 1px solid #ddd;
}
label.pos-rel{
	margin-bottom:0px;
}
table.dataTable tr td {
    border-right: 1px solid #ddd;
}
table. tr td:first-child {
    border-left: 1px solid #ddd;
}
.dataTable > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
.dataTable > tbody > tr:hover {
    background-color: #f5f5f5;
}
.action-buttons i {
    font-size: 130%;
	margin:0 4px;
}
.red {
    color: #dd5a43 !important;
}
.action-buttons{
	text-align:center;
}
.dataTables_info {
    font-size: 14px;
}
.dataTables_wrapper .row:last-child {
    background-color: #eff3f8;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
    padding-top: 12px;
}
.dataTables_paginate {
    text-align: right;
}
.dataTables_paginate .pagination {
    margin: 0 12px;
}/* 
.footer {
	padding-top: 75px;
	height: 0;
	width: 0;
}

.footer .footer-inner {
	text-align: center;
	position: absolute;
	z-index: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

.sidebar~.footer .footer-inner {
	left: 200px;
}
.footer .footer-inner .footer-content {
    border-top: 3px double #e5e5e5;
    bottom: 4px;
    left: 12px;
    line-height: 36px;
    padding: 8px;
    position: absolute;
    right: 12px;
}
.bigger-120 {
    font-size: 120% !important;
}
.blue {
    color: #478fca !important;
}
.bolder {
    font-weight: bolder;
}
 */
 
 /*  style for popup */
.modal-content {
    border-radius: 0;
    box-shadow: none;
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 0px;
}
.table-header {
    background-color: #307ecc;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    margin-bottom: 1px;
    padding-left: 12px;
}
.table-header .close {
    margin-right: 8px;
	font-size: 32px;
    margin-top: 0;
    opacity: 0.45;
}
.white {
    color: #fff !important;
}
.modal-body {
    padding: 0px;
    position: relative;
	width: 100%;
	display: inline-block;
}
.header.green {
    border-bottom: 1px solid #cce2c1;
    margin-top: 15px;
    padding-bottom: 10px;
}
h3.smaller {
    font-size: 21px;
}
.lighter {
    font-weight: lighter;
}
label {
    font-size: 14px;
    font-weight: 400;
	color:#393939;
}
.form-group > label[class*="col-"] {
    margin-bottom: 4px;
}
.no-padding-right {
    padding-right: 0 !important;
}
.form-group select, .form-group textarea, .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="datetime"], .form-group input[type="datetime-local"], .form-group input[type="date"], .form-group input[type="month"], .form-group input[type="time"], .form-group input[type="week"], .form-group input[type="number"], .form-group input[type="email"], .form-group input[type="url"], .form-group input[type="search"], .form-group input[type="tel"], .form-group input[type="color"] {
    background: none repeat scroll 0 0 #fff;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #858585;
    font-family: inherit;
    font-size: 14px;
    padding: 7px 4px 7px;
    transition-duration: 0.1s;
}
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=date]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus,input[type=number]:focus,input[type=email]:focus,input[type=url]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=color]:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #696969;
	border-color: #f59942;
	background-color: #fff;
	outline: 0;
}
.form-control, select {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-shadow: none !important;
    color: #858585;
	font-size: 14px;
}
.form-group .btn-pink {
    border-radius: 0;
    padding: 7px 14px;
}
h3.header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-align: left;
}
input[type="file"] {
    color: #333;
    font-size: 14px;
}
/* Mixed default backend style avoid bootstrap style */
.header-right legend{margin:0px;}
#anchor-content{padding:0px;}