<?php 
$startDate = '';
$endDate = '';
$status = '';
$qty = '';
$price = '';
$promo = '';
$groupDay = '';
$defaultValue = '';
$description = '';
$calendarJson = '{}';
$bookingId = $block->getBookingId();
$calendarId = 0;
$bookingType = $block->getBookingType();
$calendar = $this->getBkItem();
$defaultValue = 2;
$formatDate = $block->getBkHelperDate()->getFieldSetting('bookingsystem/setting/format_date',false);
$tempStartDate = '';
$tempEndDate = '';
$bkCurrentDate = $block->getBkCurrentDate();
//if request date from calendars
$reStrChecIn = $this->getBkRequest()->getParam('check_in','');
$reStrChecOut = $this->getBkRequest()->getParam('check_out','');
$okCalendar = 0;
if($calendar)
{
	$startDate = ($calendar->getCalendarStartdate() != '0000-00-00' && $calendar->getCalendarStartdate() != '') ?  date($formatDate,strtotime($calendar->getCalendarStartdate())) : '';
	$endDate =  ($calendar->getCalendarEnddate() != '0000-00-00' && $calendar->getCalendarEnddate() != '') ?  date($formatDate,strtotime($calendar->getCalendarEnddate())) : '';
	$tempStartDate = ($calendar->getCalendarStartdate() != '0000-00-00' && $calendar->getCalendarStartdate() != '') ?  $calendar->getCalendarStartdate() : '';
	$tempEndDate =  ($calendar->getCalendarEnddate() != '0000-00-00' && $calendar->getCalendarEnddate() != '') ?  $calendar->getCalendarEnddate() : '';
	if($reStrChecIn != '' && $reStrChecOut != '')
	{
		$startDate = date($formatDate,strtotime($reStrChecIn));
		$endDate =  date($formatDate,strtotime($reStrChecOut));
		$tempStartDate = $reStrChecIn;
		$tempEndDate =  $reStrChecOut;
		$okCalendar  = 1;
	}
	$status = $calendar->getCalendarStatus();
	$qty = $calendar->getCalendarQty();
	$price = $calendar->getCalendarPrice();
	$promo = $calendar->getCalendarPromo();
	$defaultValue = $calendar->getCalendarDefaultValue();
	$description =  $calendar->getCalendarDescription();
	$bookingId =  $calendar->getCalendarBookingId();
	$calendarId =  $calendar->getId();
	$bookingType =  $calendar->getCalendarBookingType();
}
elseif($reStrChecIn != '' && $reStrChecOut != '')
{
	$startDate = date($formatDate,strtotime($reStrChecIn));
	$endDate =  date($formatDate,strtotime($reStrChecOut));
	$tempStartDate = $reStrChecIn;
	$tempEndDate =  $reStrChecOut;
	$okCalendar  = 1;
}
$strFormatDate = $block->getBkHelperDate()->getFormatDateLabel(false);
$defaultValueDisable = 2;
//get all calendar from booking
$calendars = $this->getBkCalendars();
if(count($calendars))
{
	foreach($calendars as $calendar)
	{
		if($calendar->getCalendarDefaultValue() == 1 && $calendar->getId() != $calendarId)
		{
			$defaultValueDisable = 1;
			break;
		}
	}
	$arCalendars = $calendars->getData();
	$calendarJson = $block->getBkHelperDate()->getBkJsonEncode($arCalendars);
}
$bkSymbol = $this->getBkCurrencySymbol();
?>
<form id="booking-update-calendar" method="post" action="/">
	<input type="hidden" name="booking_id" value="<?php echo $bookingId; ?>" />
	<input id="calendar-id" type="hidden" name="calendar_id" value="<?php echo $calendarId; ?>" />
	<input type="hidden" name="booking_type" value="<?php echo $bookingType; ?>" />
	<input type="hidden" name="ok_calendar" value="<?php echo $okCalendar; ?>" />
	<div class="add-calendar-field">
		<label><?php echo __('Start Date'); ?></label>
		<input id="item-day-start-date" type="text" name="item_day_start_date" value="<?php echo $startDate; ?>" />
	</div>
	<div class="add-calendar-field">
		<label><?php echo __('End Date'); ?></label>
		<input id="item-day-end-date" type="text" name="item_day_end_date" value="<?php echo $endDate; ?>" />
	</div>
	<input id="temp-start-date" type="hidden" name="temp_start_date" value="<?php echo $tempStartDate; ?>" />
	<input id="temp-end-date" type="hidden" name="temp_end_date" value="<?php echo $tempEndDate; ?>" />

	<div class="add-calendar-field">
		<label><?php echo __('Status'); ?></label>
		<select id="item-day-status" name="item_day_status">
			<option <?php echo $status == 'available' ? 'selected="selected"' : ''; ?> value="available"><?php echo __('Available'); ?></option>
			<option <?php echo $status == 'special' ? 'selected="selected"' : ''; ?> value="special"><?php echo __('Special'); ?></option>
			<option <?php echo $status == 'block' ? 'selected="selected"' : ''; ?> value="block"><?php echo __('Booked'); ?></option>
			<option <?php echo $status == 'unavailable' ? 'selected="selected"' : ''; ?> value="unavailable"><?php echo __('Unavailable'); ?></option>
		</select>
	</div>
	<div class="add-calendar-field">
		<label><?php echo __('Qty'); ?></label>
		<input id="item-day-qty" type="text" name="item_day_qty" value="<?php echo $qty; ?>" />
	</div>
	<div class="add-calendar-field">
		<label><?php echo __('Price'); ?></label>
		<input id="item-day-price" type="text" name="item_day_price" value="<?php echo $price; ?>" />
	</div>
	<div class="add-calendar-field">
		<label><?php echo __('Special Price'); ?></label>
		<input id="item-day-promo" type="text" name="item_day_promo" value="<?php echo $promo; ?>" />
	</div>
	<div class="add-calendar-field">
		<label><?php echo __('Default Value'); ?></label>
		<input id="item-day-default-value" type="checkbox" name="item_day_default_value" value="1" <?php echo $defaultValue == 1 ? 'checked="checked"' : ''; ?> />
	</div>
	<div class="add-calendar-field" style="display : none">
		<label><?php echo __('Description'); ?></label>
		<textarea name="item_day_description"><?php echo $description; ?></textarea>
	</div>
	<div class="add-calendar-field">
	<button	id="save-calendar" type="button"><?php echo $calendarId > 0 ? __('Update Item') : __('Add new Item'); ?></button>
	<button type="button" id="form-update-calendar-close"><?php echo __('Close'); ?> </button>
	</div>
</form>
<?php $arrayUrl = $this->getBkAjaxUrl(); ?>
<?php $urlSaveItem = $arrayUrl['save_calendar']; ?>
<?php $urlcalendar = $arrayUrl['url_calendars']; ?>
<?php $urlEdit = $arrayUrl['edit']; ?>
<script>
require([
	'jquery',
	'Magento_Ui/js/modal/alert',
	'bk_calendar'
],
function($, alert,bkCalendar) {
	var calendarJson = $.parseJSON('<?php echo $calendarJson; ?>');
	var bookingId = '<?php echo $bookingId; ?>';
	var bookingType = '<?php echo $bookingType; ?>';
	var strStatusChecked = $('#item-day-status').val();
	var strDefaultChecked = 2;
	var defaultValueDisable = '<?php echo $defaultValueDisable; ?>';
	var calendarId = $('#calendar-id').val();
	var strFormatDate = '<?php echo $strFormatDate; ?>';
	var bkCurrentDate = '<?php echo $bkCurrentDate; ?>';
	var bkSymbol = '<?php echo $bkSymbol; ?>';
	var okCalendar = '<?php echo $okCalendar; ?>';
	//jquery UI
	var dates = $("#item-day-start-date,#item-day-end-date").datepicker(
	{ 
		minDate : new Date(bkCurrentDate),
		dateFormat: strFormatDate,
		changeMonth : true,
		onSelect: function( selectedDate, inst) 
		{
			var date = jQuery.datepicker.parseDate(inst.settings.dateFormat || jQuery.datepicker._defaults.dateFormat, selectedDate, inst.settings);
			var dateText = jQuery.datepicker.formatDate("yy-mm-dd", date, inst.settings);
			if(this.id == "item-day-start-date"){															
				date.setDate(date.getDate());
				jQuery("#item-day-end-date" ).datepicker(  "option", "minDate", date );
				$('#temp-end-date').val(dateText);
			}
			else
			{
				$('#temp-start-date').val(dateText);
			}
		}
	});
	$('#save-calendar').click(function(){
		$('.bk-calendar-item').css('background','none');
		var checkIn = $('#temp-start-date').val();
		var checkOut = $('#temp-end-date').val();
		var objCheckIn = new Date(checkIn);
		var objCheckOut = new Date(checkOut);
		var itemDayOk = true;
		var strRowItemId = '';
		var defaultValue = 2;
		var statusItem = $('#item-day-status').val();
		if($('#item-day-default-value').is(":checked"))
		{
			var defaultValue = 1;
		}
		else
		{
			if($.trim($('#item-day-start-date').val()) == '' || $.trim($('#item-day-end-date').val()) == '')
			{
				 alert({
					title: '',
					content: '<?php echo __('Please enter check in and check out') ?>'
				});
				return false;
			}
		}
		if(calendarJson)
		{
			for(var kCal in calendarJson)
			{
				if(isNaN(kCal))
					continue;
				if(calendarId == calendarJson[kCal]['calendar_id'])
					continue;
				var objStartDate = new Date(calendarJson[kCal]['calendar_startdate']);
				var objEndDate = new Date(calendarJson[kCal]['calendar_enddate']);
				if((objCheckIn.getTime() >= objStartDate.getTime() && objCheckIn.getTime() <= objEndDate.getTime()) || (objCheckOut.getTime() >= objStartDate.getTime() && objCheckOut.getTime() <= objEndDate.getTime()))
				{
					itemDayOk = false;
					strRowItemId = calendarJson[kCal]['calendar_id'];
					break;
				}
			}
		}
		if($.trim($('#item-day-price').val()) == ''  && (statusItem == 'available' || statusItem == 'special'))
		{
			 alert({
					title: '',
					content: '<?php echo __('Please Enter Price') ?>'
				});
			return false;
		}
		if($.trim($('#item-day-qty').val()) == '' && (statusItem == 'available' || statusItem == 'special'))
		{
			 alert({
					title: '',
					content: '<?php echo __('Please Enter Qty') ?>'
				});
			return false;
		}
		if(!itemDayOk && defaultValue == 2)
		{
			$('#bk-calendar-item-'+strRowItemId).css('background','red');
			 alert({
					title: '',
					content: '<?php echo __('You are adding new pricing but that Item already in database. Please see list Items on top and edit that item.') ?>'
				});
			return false;
		}
		$('.bk-loading-mask').css('display','block');
		$('#add-new-calendar').css('display','block');		
		$.ajax({
			url : '<?php echo $urlSaveItem; ?>',
			dataType: 'json',
			type: 'POST',
			data : $('#booking-update-calendar').serialize(),
			success : function(res)
			{
				if(res.status == true)
				{
					$('#booking-list-calendar-items').html(res.html_calendar_items);
					var objData = {
						'DataURL' : '<?php echo $urlcalendar; ?>',
						'booking_id': bookingId,
						'booking_type' : bookingType,
						'url_add_item' : '<?php echo $urlEdit; ?>',
						'currency': bkSymbol,
						'str_current_date': bkCurrentDate,
						'booking_label' : '<?php echo __('Booking Calendar'); ?>',
						'obj_status_text' : {
							'available': '<?php echo __('Available'); ?>',
							'special': '<?php echo __('Available'); ?>',
							'block': '<?php echo __('Booked'); ?>',
							'unavailable': '<?php echo __('Unavailable'); ?>',
							},
							'name_day_th' : [
														'<?php echo __('Sunday'); ?>',
														'<?php echo __('Monday'); ?>',
														'<?php echo __('Tuesday'); ?>',
														'<?php echo __('Wednesday'); ?>',
														'<?php echo __('Thursday'); ?>',
														'<?php echo __('Friday'); ?>',
														'<?php echo __('Saturday'); ?>'
												],
							'name_day_short_th' : [
															'<?php echo __('Mon'); ?>',
															'<?php echo __('Tue'); ?>',
															'<?php echo __('Wed'); ?>',
															'<?php echo __('Thu'); ?>',
															'<?php echo __('Fri'); ?>',
															'<?php echo __('Sat'); ?>',
															'<?php echo __('Sun'); ?>'
														],
							'name_day_shortest_th' : [
														'<?php echo __('Su'); ?>',
														'<?php echo __('Mo'); ?>',
														'<?php echo __('Tu'); ?>',
														'<?php echo __('We'); ?>',
														'<?php echo __('Th'); ?>',
														'<?php echo __('Fi'); ?>',
														'<?php echo __('Sa'); ?>',
														],
						'add_text' : '<?php echo __('Add'); ?>',
						'remove_text' : '<?php echo __('Remove'); ?>',
						'next_text' : '<?php echo __('Next'); ?>',
						'pre_text' : '<?php echo __('Pre'); ?>',
					}
					$('#booking-calendar').MagebayAnyBooking(objData); 
					$('#form-booking-calendar').html('');
					alert({
						title: '',
						content: '<?php echo __('Data have been saved success') ?>'
					});
				}
				else
				{
					alert({
						title: '',
						content: '<?php echo __('System are errors, Please check again!') ?>'
					});
				}
				$('.bk-loading-mask').css('display','none');
				
			},
			error : function()
			{
				alert({
						title: '',
						content: '<?php echo __('System are errors, Please check again!') ?>'
					});
				$('.bk-loading-mask').css('display','none');
			}
		})
	});
	if($('#item-day-default-value').is(":checked")){
		strDefaultChecked = 1;
	}
	disableInputByStatus(strStatusChecked);
	disableInputByDefaultValue(strDefaultChecked);
	$('#item-day-status').change(function(){
		var strStatus = $(this).val();
		disableInputByStatus(strStatus);
	});
	$('#item-day-default-value').click(function(){
		var strChecked = '2';
		if($(this).is(":checked"))
		{
			strChecked = '1';
		}
		disableInputByDefaultValue(strChecked);
	});
	var gPrice = $('#item-day-price').val();
	var gPromo = $('#item-day-promo').val();
	var gQty = $('#item-day-qty').val();
	$('#item-day-price,#item-day-promo,#item-day-qty').keyup(function(){
		var intVaule = $(this).val();
		if(isNaN(intVaule))
		{
			if($(this).attr('id') == 'item-day-price')
			{
				$(this).val(gPrice);
			}
			else if($(this).attr('id') == 'item-day-promo')
			{
				$(this).val(gPromo);
			}
			else if($(this).attr('id') == 'item-day-qty')
			{
				$(this).val(gQty);
			}
		}
		else
		{
			if($(this).attr('id') == 'item-day-price')
			{
				gPrice = $(this).val();
			}
			else if($(this).attr('id') == 'item-day-promo')
			{
				gPromo = $(this).val();
			}
			else if($(this).attr('id') == 'item-day-qty')
			{
				gQty = $(this).val();
			}
		}
	});
	$('#form-update-calendar-close').click(function(){
		$('#form-booking-calendar').html('');
		$('#add-new-calendar').css('display','block');
	});

	//helper function
	function disableInputByStatus(strStatus)
	{
		if(strStatus == 'unavailable' || strStatus == 'block')
		{
			$('#item-day-qty').prop('disabled',true);
			$('#item-day-price').prop('disabled',true);
			$('#item-day-promo').prop('disabled',true);
		}
		else
		{
			$('#item-day-qty').prop('disabled',false);
			$('#item-day-price').prop('disabled',false);
			$('#item-day-promo').prop('disabled',false);
		}
		if(strStatus == 'unavailable')
		{
			$('#item-day-group').prop('disabled',true);
		}
		else
		{
			$('#item-day-group').prop('disabled',false);
		}
		if(strStatus == 'special' || defaultValueDisable == '1' || okCalendar == '1')
		{
			$('#item-day-default-value').prop('disabled',true);
		}
		else
		{
			$('#item-day-default-value').prop('disabled',false);
		}
	}
	function disableInputByDefaultValue(valueDefalt)
	{
		if(valueDefalt == '1')
		{
			$('#item-day-start-date').prop('disabled',true);
			$('#item-day-end-date').prop('disabled',true);
			$('#item-day-group').prop('disabled',true);
			$('#item-day-status option[value="special"]').prop('disabled',true);
		}
		else
		{
			$('#item-day-start-date').prop('disabled',false);
			$('#item-day-end-date').prop('disabled',false);
			$('#item-day-group').prop('disabled',false);
			$('#item-day-status option[value="special"]').prop('disabled',false);
		}
	}
});
</script>