<?php /** * Copyright © 2015-2017 Ihor Vansach (ihor@magefan.com). All rights reserved. * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php). * * Glory to Ukraine! Glory to the heroes! */ /** @var $block \Magefan\Blog\Block\Adminhtml\Post\Helper\Form\Gallery\Content */ $elementName = $block->getElement()->getName() . '[images]'; $formName = $block->getFormName(); ?> <div id="<?php echo $block->getHtmlId() ?>" class="gallery" data-mage-init='{"Magefan_Blog/js/post-gallery":{"template":"#<?php echo $block->getHtmlId() ?>-template"}}' data-parent-component="<?php echo $block->escapeHtml($block->getData('config/parentComponent')) ?>" data-images="<?php echo $block->escapeHtml($block->getImagesJson()) ?>" data-types="{}" ><?php if (!$block->getElement()->getReadonly()) {?> <div class="image image-placeholder"><?php echo $block->getUploaderHtml(); ?> <div class="product-image-wrapper"><p class="image-placeholder-text"><?php /* @escapeNotVerified */ echo __('Browse to find or drag image here'); ?></p></div></div><?php } ?> <script id="<?php echo $block->getHtmlId() ?>-template" type="text/x-magento-template">
        <div class="image item<% if (data.disabled == 1) { %> hidden-for-front<% } %>"
             data-role="image">
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][position]"
                   value="<%- data.position %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   class="position"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][file]"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   value="<%- data.file %>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][value_id]"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   value="<%- data.value_id %>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][label]"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   value="<%- data.label %>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][disabled]"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   value="<%- data.disabled %>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][media_type]"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   value="image"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][removed]"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   value=""
                   class="is-removed"/>

            <div class="product-image-wrapper">
                <img class="product-image"
                     data-role="image-element"
                     src="<%- data.url %>"
                     alt="<%- data.label %>"/>

                <div class="actions">
                    <button type="button"
                            class="action-remove"
                            data-role="delete-button"
                            title="<?php /* @escapeNotVerified */ echo __('Delete image') ?>">
                    <span>
                        <?php /* @escapeNotVerified */ echo __('Delete image') ?></span></button>
                    <div class="draggable-handle"></div></div>
                <div class="image-fade"><span><?php /* @escapeNotVerified */ echo __('Hidden') ?></span></div></div>

            <div class="item-description">
                <div class="item-title" data-role="img-title"><%- data.label %></div></div></div></script></div><script>
    jQuery('body').trigger('contentUpdated');</script>